[2017-05-16 00:28] samtstern opened #28 "FR: Add robot webhook"
URL:
https://us-central1-ossbot-f0cad.cloudfunctions.net/githubWebhook

Content type:
application/json

Secret:
N/A

Select individual events:
  * Issues
  * Pull request
  * Issue comment

[2017-05-16 20:56] hiranya911 opened #29 "SDK Intermittently Becomes Unresponsive in Google App Engine"
* Environment: Google App Engine (Java runtime)

Admin Java SDK sometimes becomes unresponsive after operating without problems for several days. Issue is random and intermittent. There are no specific error messages or stack traces dumped when this happens.

After analyzing the App Engine logs for a user application that encounters this issue regularly, we have identified the following issue whic

[2017-05-18 08:28] swftvsn opened #33 "FR: Let developers have tools to administer users"
It would be really nice to have feature parity with node-admin, that has these tools to manage users.

[2017-05-18 17:09] hiranya911 commented on #33
This is actually  one of our more popular feature requests. I'm planning to prioritize and implement it in the near future. Stay tuned.

[2017-05-21 17:15] swftvsn commented on #33
Awesome! Can't wait :)

[2017-05-21 17:18] Solido commented on #33
Thanks this is currently a complete no go to firebase because of this but I'm now impatient to start working on it.

[2017-05-21 17:32] hiranya911 commented on #33
I have this feature under development at https://github.com/firebase/firebase-admin-java/tree/hkj-user-mgt

[2017-05-22 21:42] #28 closed

[2017-05-23 16:21] erikmejias commented on #29
Any updates about this bug? I've been experiencing it.

[2017-05-23 17:38] hiranya911 commented on #29
You can try the fix made at #30 and see if that resolves your issue. If you can provide any code to reproduce the issue, or provide some debug logs that would be helpful to us.

[2017-05-26 00:40] hiranya911 opened #35 "Configurable `JsonFactory` and `HttpTransport`"
Admin Java SDK uses a default `JsonFactory` and a default `HttpTransport` everywhere. But users should be allowed to configure these where appropriate. For instance, when the SDK is deployed behind a proxy, it becomes unable to make any HTTP requests, since the default `HttpTransport` is setup without proxy support. If this was configurable, users can init a transport with proxy support and pass i

[2017-05-26 07:54] nico1510 opened #36 "FR: Add the fields 'email' and 'credential' to FirebaseAuthUserCollisionException"
### [READ] Step 1: Are you in the right place?

  * No I'm not sorry :( This issue should ideally be opened in the android SDK repo but this isn't on Github yet so feel free to close it or move it as you like.

### [REQUIRED] Step 2: Describe your environment

  * Operating System version: android
  * Firebase SDK version: 10.2.6
  * Firebase Product: auth

### [REQUIRED] Step 3: Describe the prob

[2017-05-26 17:44] hiranya911 commented on #36
I will route this to the appropriate developers, and close it. Thanks for the bud report.

[2017-05-26 18:01] #36 closed

[2017-06-01 23:38] hiranya911 commented on #29
This fix is available in the 5.0.1 release that went out today. I'll close this ticket as fixed. If we continue to see issues in App Engine even with the new version, we can revisit this.

[2017-06-01 23:38] #29 closed

[2017-06-06 21:51] Solido opened #39 "Repo for snapshot"
Is there a gradle repo to access the last snapshot ? (5.0.2)

[2017-06-06 23:52] hiranya911 opened #40 "Fix the Source Distribution"
We have the following exclusion rule set for the maven-source-plugin:

[code]

This is a left over from our pre-open source days. We should get rid of it now.

[2017-06-06 23:58] samtstern opened #41 "FR: Source maps for docs"
Add a source map to the doc generation process so that reference docs can link directly into source files for each function/constant/etc.

[2017-06-07 21:45] hiranya911 commented on #39
Hi Solido,

We do not yet publish snapshot builds. If you're looking to try out the new user management stuff, it was released moments ago as v5.1.0. Check out [release notes](https://firebase.google.com/support/release-notes/admin/java#5.1.0)

[2017-06-07 21:45] #39 closed

[2017-06-07 21:46] hiranya911 commented on #33
This has been released in [v5.1.0](https://firebase.google.com/support/release-notes/admin/java#5.1.0)

[2017-06-07 21:46] #33 closed

[2017-06-08 05:00] swftvsn commented on #33
Absolutely fabulous work! Pass on the compliments to the whole team!

The documentation has also been updated which is awesome, and as an Java guy myself, one could also tick another box in the feature matrix in https://firebase.google.com/docs/admin/setup "Java" column. :)

Thanks again, I'll head back to my code now :D

[2017-06-08 17:35] hiranya911 commented on #33
Thanks @swftvsn :)

And thanks for the reminder about the feature matrix. We have updated it now.

[2017-06-08 21:45] hiranya911 opened #42 "FR: Set SDK Version as a Custom Header when Calling REST API"
Set the `X-CLIENT-VERSION` header on HTTP calls to user management REST API.

Equivalent logic in Admin Node.js SDK: https://github.com/firebase/firebase-admin-node/blob/master/src/auth/auth-api-request.ts#L37

[2017-06-09 18:41] hiranya911 commented on #42
Implemented in #43

[2017-06-09 18:41] #42 closed

[2017-06-09 22:54] hiranya911 commented on #40
Fixed

[2017-06-09 22:54] #40 closed

[2017-06-14 18:28] hiranya911 commented on #35
Released in [v5.2.0](https://firebase.google.com/support/release-notes/admin/java#5.2.0)

[2017-06-14 18:28] #35 closed

[2017-06-21 17:28] pskd73 opened #50 "java.lang.NoSuchMethodError: com.google.common.base.Preconditions.checkState"
Here is my code
[code]
`FirebaseAuth.getInstance();` causing the issue. The error log stack is here
[code]

I am not sure why I am getting the above error. I see the code and at FirebaseApp.java:314 it is passing 3 arguments, but in error it is showing only two arguments, which is not there in Preconditions. Kindly help me in this.

I am using firebase-admin sdk: 5.2.0
Jdk: 1.8.0
OS: Ubuntu 16.04

[2017-06-21 17:40] swftvsn commented on #50
Hi,

this is most likely wrong version of Guava. Check mvn dependency:tree or gradlew dependencies to find out what version you have.

iirc the version 20 and up of guava has that. However, many libraries depend on older version if you use google cloud stuff.

[2017-06-21 17:56] hiranya911 commented on #50
Yes, this happens when two version of Guava ends up in the classpath. Check the dependency tree and add an exclusion rule to the older version.

[2017-06-24 05:34] pskd73 commented on #50
Thanks @hiranya911 Now the above issue got fixed. But I am facing another issue now.
[code]
I am getting this error when I cann verifyIdToken() method. Can you/anybody help me in this?

[2017-06-24 05:58] pskd73 commented on #50
It was issue with google oauth library. I managed to fix it by removing old version of the google oauth library.

[2017-07-07 21:22] malcolmdeck commented on #36
Hello! Malcolm here, an Android dev the Firebase Auth team :smiley:

Having talked with the folks that develop the iOS SDK, the email is never populated as part of the FIRAuthErrorCodeEmailAlreadyInUse response for the current release (nor for any release since January of this year - I didn't check before that). So the iOS and Android SDKs are functionally equivalent.

However, your request is a u

[2017-07-08 08:25] nico1510 commented on #36
Hi @malcolmdeck thanks for responding I did not have much hope :smile:
I never implemented it in iOS but read it in the docs [here](https://firebase.google.com/docs/reference/ios/firebaseauth/api/reference/Constants#/c:@FIRAuthErrorUserInfoEmailKey) that you can get the email there so I just assumed it was possible.
Anyway thanks for adding it to your feature requests and in the meantime I can use

[2017-07-10 14:58] visiolink-android-dev opened #54 "FR: Support for adding apps to a Firebase project from a CI server"
The CI server adds product flavors to our Android app. When a flavor is added, the project must be sync'ed
using the Firebase plugin in Android Studio, so that the new flavor is added to the Firebase project and the new "google-services.json" file is downloaded to the project.

We would like to be able to do that without Android Studio. If it was added to this project, one could create a custom Gr

[2017-07-10 18:10] hiranya911 commented on #54
I don't see how this could be part of Admin SDK. Can you please elaborate? What would the API for this would look like?

[2017-07-10 22:57] hiranya911 opened #55 "FR: Revising the Threading Model and Async APIs"
There are several issues in the Admin SDK with respect to how it creates and uses threads:

1. Most public APIs are asynchronous, and returns `Task` instances. This tends to make implementing simple use cases unnecessarily complex (e.g. creating a custom token and sending back as a servlet response).
2. Main thread pool is initialized statically, and not configurable.
3. `ThreadFactory` is initial

[2017-07-11 12:21] visiolink-android-dev commented on #54
Something like:

[code]

Or should this be in the firebase-tools project instead?

[2017-07-11 20:49] hiranya911 commented on #54
Yeah, this doesn't look like it belong in the Admin SDK. Also the usecase/API suggested here seems very Android-specific. As you mentioned it should probably be done in a separate tool or a Gradle plugin.

Try reporting this at https://github.com/firebase/firebase-tools (although I'm not sure whether that's the right place for this request either). I would also recommend you to reach out to the [f

[2017-07-12 14:31] visiolink-android-dev commented on #54
It was already there, so I posted a comment.

See:
https://github.com/firebase/firebase-tools/issues/319

You can close this issue.

[2017-07-12 17:23] #54 closed

[2017-07-12 19:06] hiranya911 opened #56 "FR: Implement Phone Auth Support in User Management API"
Work is currently underway in the Node Admin SDK to implement phone auth support (see [branch](https://github.com/firebase/firebase-admin-node/tree/admin_node_phone)). This needs to be ported to the Java Admin SDK. This will provide:
* ability to associate a phone number with a user account
* ability look up users by phone numbers
* ability to update user accounts with phone numbers

[2017-07-17 20:01] hiranya911 opened #57 "FR: Migrate Admin SDK to google-auth-library-java"
Currently the Admin SDK depends on the `google-api-client` library for all credential processing. But GCP at large is moving towards the new https://github.com/google/google-auth-library-java library. This library has better, cleaner APIs for parsing credential files, and integrates well with other gcloud SDKs. We should migrate the Admin SDK to use this new library.

This dependency is still at v

[2017-07-20 11:40] yuri-sergiichuk opened #59 "FR: Support custom JWT token creation with ApplicationDefault credentials"
Right now it's not possible to create custom JWT token with firebase-admin SDK on Java and this leads to the problems of credentials confidentiality.

The most efficient way to obtain credentials while you're on AppEngine or GCE - obtain them via `GoogleCredential.getApplicationDefault()`, or in case of Firebase - `FirebaseCredentials.applicationDefault()`, but `FirebaseAuth.createToken` lacks sup

[2017-07-20 17:03] hiranya911 commented on #59
This is actually a popular feature request. The problem is application default credentials often don't expose a private key, which is required for token signing. We have communicated this requirement to the core Google cloud team on multiple occasions, and there is some work underway to provide a working solution. We will follow up and try to provide an update soon.

[2017-07-20 18:03] IuriiSergiichuk commented on #59
@hiranya911 thanks for update. We are really waiting for this feature. I hope it could be implemented soon.

[2017-07-21 20:35] hiranya911 commented on #55
We are making some headway with this issue. We are thinking about a 2-phase roll out plan:

**Phase 1 (No breaking changes)**
* Introduce new async methods that return `ApiFuture` instances (e.g. `ApiFuture<String> createCustomToken()`.
* Deprecate the `Task` API

**Phase 2 (breaking changes)**
* Remove the methods that return `Task` instances.
* Replace them with a set of blocking methods (e.g. `

[2017-08-06 15:53] hth commented on #50
Code below should fix this issue.

    compile ('com.google.firebase:firebase-admin:5.2.0') {
       exclude group: 'com.google.guava'
    }
    compile 'com.google.guava:guava:23.0'

[2017-08-08 20:21] hiranya911 commented on #57
I've done some prototyping related to this in the hkj-auth-creds branch. It seems we can get rid of a significant amount of code by doing this migration. I'm also trying to get https://github.com/google/google-auth-library-java/issues/117 as part of this, which will make things even easier for us.

[2017-08-14 22:39] hiranya911 commented on #56
This was released today: https://firebase.google.com/support/release-notes/admin/java#5.3.0

[2017-08-14 22:39] #56 closed

[2017-08-22 13:33] cdecode opened #62 "FR: OSGI Metadata Support"
Is it possible to make the Firebase Admin SDK compatible with OSGI ?

The minimal requirements would be to add OSGI metadata to the manifest.
To go further, you could rely on the OSGI service model, here is a project example :

[https://github.com/cdecode/org.cdecode.firebase](https://github.com/cdecode/org.cdecode.firebase)

In this project the API was redefined to not expose internal classes to

[2017-08-23 08:41] cdecode commented on #62
Here is the project : [https://github.com/cdecode/org.cdecode.firebase](https://github.com/cdecode/org.cdecode.firebase)

[2017-08-23 18:01] hiranya911 commented on #62
We can add the required OSGi bundle headers  to the build artifact (perhaps you can help us with that by providing a patch).

[2017-08-28 21:20] nilsonfreitas commented on #55
I believe that firebase is preventing my appengine basic scaling instances to be evicted. It seems that as long as a background thread is alive, instance will also be alive and won't respect the idle-timeout setting.

Also, every 12 hours I can see a crash on logs while appengine calls /_ah/background with bellow trace:

[code]

[2017-08-29 18:42] washowasho opened #63 "UpdateRequest.setPassword Deletes Social Media Providers"
### [REQUIRED] Step 2: Describe your environment

  * Operating System version: **Java**
  * Firebase SDK version: **5.3.0**
  * Library version: _____
  * Firebase Product: **Auth**

### [REQUIRED] Step 3: Describe the problem

#### Steps to reproduce:

If a user first connects social media accounts (e.g., Facebook, Twitter) and then a UpdateRequest.setPassword() is applied using the Java SDK, th

[2017-08-29 18:44] washowasho commented on #63
Sorry, this is a JS SDK issue, not a Java SDK Admin issue.

[2017-08-29 18:44] #63 closed

[2017-08-31 20:15] nilsonfreitas commented on #55
I've just confirmed what I said on my above comment. [This link](https://groups.google.com/forum/#!topic/google-appengine/U2f9dLHsck4) also gives more information about the issue.

I only use firebase auth to verify custom Id token across more than 30 micro services on appengine. They are all configured to be turned off if idle for 5 min but because firebase keeps the BG thread running for min 12h

[2017-08-31 21:10] hiranya911 commented on #55
This is due to the proactive token refresh task, which runs in the background renewing OAuth2 tokens once every hour. This is scheduled on a thread pool, which in the current design cannot be shutdown cleanly. The problem is definitely in my radar, and I intend to fix it.

@nilsonfreitas I believe your situation is somewhat complicated though. I suppose you call `FirebaseApp.initializeApp()` once,

[2017-08-31 21:34] nilsonfreitas commented on #55
@hiranya911, I call FirebaseApp.initializeApp() as soon as the first request arrives to that instance and never call app.delete().

Calling app.delete() doesn't make much sense considering GAE's architecture because instances don't know when they will be terminated.  For example, while using basic scaling with idle-timeout with 5 minutes, GAE will terminate the instance if:

- No requests are proc

[2017-09-06 05:57] hiranya911 opened #65 "Refactor the Members of auth internal Package"
* There's no reason why `FirebaseTokenVerifier` should extend `IdTokenVerifier`.
* Some of the classes here can be moved to the parent `auth` package, and made package-protected.

[2017-09-06 23:06] hiranya911 commented on #65
Also define all the error codes of this package in one place. Currently they are at `FirebaseUserManager` and `FirebaseTokenVerifier`. See the conversation at #64 for more context.

[2017-09-09 15:58] evensocial opened #67 "Task alive even after completion"
`Task<Void> task = mDatabase.setValue(item);`

Even after task is completed (I'm firing an OnCompleteListener), the current thread is kept always alive.

[2017-09-09 16:29] hiranya911 commented on #67
Can you explain a bit further? What is your "current thread"? Database starts several background threads, which stay alive beyond the lifetime of request threads.

[2017-09-09 17:15] evensocial commented on #67
Let's make it very simple. I have this code:

`public static void main(String[] args) {
	DatabaseReference mDatabase = FirebaseAdmin.getInstance().mDatabase;

	mDatabase.child("test-item").setValue("test");
}`

I want the main thread to end as soon as the background threads complete (i.e. The value is set on the database).
Is there a way to achieve this result?

[2017-09-11 17:33] Motojo opened #68 "Firebase Database Query hangs"
Hello!
# Enviroment
  * Operating System version: Windows 8.1u1
  * Firebase SDK version: 5.3.0
  * Firebase Product: Database

# Issue
When  I trying to get some info from the database and the query contains some of startAt, endAt, equalTo the query hangs and the thread keeps workings and my method cant return anything...

**Event Listeners removed for simplicity, can be reproduced with or withou

[2017-09-11 18:47] katowulf commented on #68
Most likely, you haven't set up an index on the remote path and it's attempting to download all data to the client. You will need to add an error handler as described in the docs to get the exact error condition, but the query is likely timing out after a [read limit](https://firebase.google.com/docs/database/usage/limits) is reached.

One quick way to test this would be to run the same query agai

[2017-09-11 18:47] #68 closed

[2017-09-11 19:37] bbade opened #69 "Transaction.Handler.onComplete() exceptions are swallowed"
### [REQUIRED] Step 2: Describe your environment

  * Operating System version: varies
  * Firebase SDK version: _____
  * Library version: _____
  * Firebase Product: database

### [REQUIRED] Step 3: Describe the problem
Transaction.Handler.onComplete() exceptions are swallowed, I think by ThreadPoolEventTarget.  It would be nice if they were logged. I spent a lot of time thinking that onComplete

[2017-09-12 01:10] #69 closed

[2017-09-12 08:07] hiranya911 commented on #67
You're encountering a known issue that is partially discussed in #55. The SDK starts a background thread, which periodically refreshes OAuth2 tokens, and in the current architecture there's no way to cleanly shut it down. It is this thread that is keeping your JVM alive, not the main application thread. This limitation will be fixed in a future release. There's some work already underway, but it w

[2017-09-12 09:02] evensocial commented on #67
Thanks for your precious answer.
I'm closing this thread.

[2017-09-12 09:02] #67 closed

[2017-09-13 19:19] engeeaitch commented on #55
I am getting a similar error to @nilsonfreitas every 24 hours (I think) as follows:

`Uncaught exception from servlet
java.lang.RuntimeException: Restarting Firebase Worker Thread
	at com.google.firebase.internal.RevivingScheduledExecutor.<clinit>(RevivingScheduledExecutor.java:45)
	at com.google.firebase.database.core.GaePlatform.newEventTarget(GaePlatform.java:85)
	at com.google.firebase.databas

[2017-09-13 20:22] hiranya911 commented on #55
The error is to be expected when running on App Engine. The SDK restarts threads every 12 hours or so, to prevent them from being killed by the GAE runtime. Your app should continue to work regardless of the error message.

[2017-09-17 08:30] nathan-ca opened #73 "FirebaseApp.delete() still has dangling thread"
### [REQUIRED] Step 2: Describe your environment

  * Operating System version: Windows 10
  * Firebase SDK version: 5.3.1
  * Library version: ?
  * Firebase Product: app

### [REQUIRED] Step 3: Describe the problem

After app.delete(), there is still dangling thread. Bug can be reproduced on both 5.2.0 and latest 5.3.1 releases.

#### Steps to reproduce:

Run a trivial task, such as getUser, and

[2017-09-17 19:49] hiranya911 commented on #55
@nilsonfreitas I'm in the process of implementing a number of improvements to the thread model of the SDK. However, it is pretty much impossible to build a unified model that will work equally well in the regular JVM, and 3 different scaling modes of App Engine. This is made even more complicated by the fact that when running in GAE there is no way to reliably determine which scaling mode is in us

[2017-09-18 16:15] nilsonfreitas commented on #55
@hiranya911 , yes I can run some tests once done.

I was checking [GaeScheduledExecutorService.java](https://github.com/firebase/firebase-admin-java/blob/master/src/main/java/com/google/firebase/internal/GaeScheduledExecutorService.java#L185) and [RevivingScheduledExecutor.java](https://github.com/firebase/firebase-admin-java/blob/master/src/main/java/com/google/firebase/internal/RevivingScheduled

[2017-09-18 18:29] hiranya911 commented on #55
@nilsonfreitas The `ThreadManager` interface we are about to introduce will make it possible for developers to plug in their own executor services and thread factories.

[2017-09-20 13:32] CluEleSsUK opened #75 "Deserializing BigDecimal throws exception"
Inside `CustomClassMapper` in method `deserializeToClass(Object obj, Class<T> clazz)`, the conditional statement wrongly assumes the value is of primitive type if `Number.class.isAssignableFrom(clazz)`.
BigDecimal returns true but is not primitive, and throws an `IllegalArgumentException` in `deserializeToPrimitive(Object obj, Class<T> clazz)`

[2017-09-20 20:45] hiranya911 opened #76 "Support Configurable Timeouts"
Admin SDK uses Google Java HTTP client to make outbound HTTP connections. But we currently do not set the connection and read timeout for outbound requests. These need to be configurable via `FirebaseOptions` or a similar API.

[2017-09-20 20:47] hiranya911 commented on #75
Thanks for pointing this out @CluEleSsUK. If you can please provide us a pull request to fix this. Otherwise I will take a look in a couple of days.

[2017-09-20 21:40] CluEleSsUK commented on #75
Sure thing, I'll have a look tomorrow!

On Wed, 20 Sep 2017, 21:47 Hiranya Jayathilaka <notifications@github.com>
wrote:

[2017-09-24 19:08] cohenadair commented on #50
@hth Thank you, but in my case I used to use Guava 20.0 as 23.0 requires Java 8 and I'm still on Java 7. Note that I used 20.0, but there may be newer versions that do not require Java 8.

[2017-09-26 10:55] Rossiar opened #78 "FR: Add Support for Collections"
Add support to the Firebase Admin SDK for any [Collection](https://docs.oracle.com/javase/8/docs/api/java/util/Collection.html) - they all provide an [`iterator()`](https://docs.oracle.com/javase/8/docs/api/java/util/Collection.html#iterator--) so I don't see why it is a problem to do this.

### [REQUIRED] Step 2: Describe your environment

  * Operating System version: Microsoft Windows 10 Pro 10

[2017-10-02 07:39] drindt opened #79 "Exceptions swallowed in snapshot.getValue()"
I was looking for hours why getValue doesn't return anything. The thread dies in the background silently. First as i step debug the code i've seen that some things must be present in the pojos like empty constructor and getters at least. I don't know why the exception is swallowed. I just can assume that google endpoints hide it from my eyes. I am using firebase with cloud endpoints together.

[2017-10-02 21:12] hiranya911 commented on #79
Is this in an event handler? I believe this is because `ThreadPoolEventTarget` class does not log errors by default.

[2017-10-03 09:31] Rossiar commented on #78
@hiranya911 can this get some attention? I have a fork with a branch that contains the implementation for this

[2017-10-03 16:57] hiranya911 commented on #78
I'm not sure why the code is written this way. I can ask around. Please send in a pull request in any case.

[2017-10-03 21:24] Mistic92 opened #80 "FR: Custom claims support"
According to docs, for now setting custom claims is available only for JS.
Would be nice to have this option also in Java

https://firebase.google.com/docs/auth/admin/custom-claims

[2017-10-04 00:06] hiranya911 commented on #80
This is being developed in the hkj-custom-claims branch. But it will be a while before we can get it released. There are couple of other things scheduled to release before that. But, rest assured that it is coming :)

[2017-10-04 00:08] hiranya911 commented on #78
@mikelehen @depoll Perhaps you guys have more context here. Any reason why we don't support serializing collections? The code is written to explicitly handle Lists.

[2017-10-04 18:30] mikelehen commented on #78
Fundamentally, Firebase Realtime Database only supports storing Maps (key=>value pairs). We do some massaging to let you read / write arrays to Database (see [here](https://firebase.googleblog.com/2014/04/best-practices-arrays-in-firebase.html) for some details), but ultimately we just take the array and use the array indices as the keys in the Map that we ultimately store.  So in Java we let you

[2017-10-04 20:30] Rossiar commented on #78
@mikelehen thank you for clarifying, I was unaware that RTDB did not support arrays (I assumed a NoSQL syntax). Perhaps a small section should be added to the documentation to clarify why this is the case for Java users, could mostly be what you have said above.

[2017-10-05 15:36] mikelehen commented on #78
No problem. I apologize for the confusion, and appreciate the time you spent on the PR.  I'll see if we can make a tweak to the docs.

[2017-10-05 15:36] #78 closed

[2017-10-07 06:39] ghajba commented on #75
A question to this topic: how should a BigDecimal/BigInteger be serialized?

I am currently facing the same issue, and I want to fix it, but I don't just want to hack something together.

[2017-10-09 03:53] ghajba opened #86 "Serializing java.time.LocalDate throws exception"
### [REQUIRED] Step 2: Describe your environment

  * Operating System version: macOS Sierra 10.12
  * Firebase SDK version: 5.3.1
  * Library version: ?
  * Firebase Product: database

### [REQUIRED] Step 3: Describe the problem

When I try to serialize a `LocalDate` I get the following exception.

[code]

The cause is, that `LocalDate` overrides the `java.time.chrono.ChronoLocalDate.getChronolog

[2017-10-11 21:44] hiranya911 commented on #57
This was released today: https://firebase.google.com/support/release-notes/admin/java#5.4.0

[2017-10-11 21:44] #57 closed

[2017-10-11 21:47] hiranya911 commented on #73
Fix for this issue was released today: https://firebase.google.com/support/release-notes/admin/java#5.4.0

When running on the regular JVM, all threads will be started as daemons, which won't cause the process to stay alive. The `FirebaseApp.delete()` method can also be invoked to further guarantee a clean graceful shutdown (although this is not required). Proactive token refresher will not start

[2017-10-11 21:47] #73 closed

[2017-10-11 21:50] hiranya911 commented on #55
All changes except for the blocking methods have been implemented in https://firebase.google.com/support/release-notes/admin/java#5.4.0

* `Task` API is now deprecated.
* `ThreadManager` API supports configuring thread pool and factory used by the SDK.
* GAE basic scaling has been tested with a custom `ThreadManager` implementation.

Blocking methods to complement the new `*Async()` methods will b

[2017-10-17 07:18] IuriiSergiichuk commented on #59
Hello guys,

Are there any updates the the feature?

[2017-11-02 10:17] sowdri commented on #80
Is there any workaround which this is getting developed? I can set the custom claims in the console, just need the ability to read those claims on the server.

[2017-11-02 16:39] hiranya911 commented on #80
@sowdri I don't see one, short of using the REST API directly. The relevant PR #92 is currently under review though. I can try to get its review expedited, and released in a couple of weeks. If you do decide to use the REST API in the meantime, check the `FirebaseUserManager` class, and see how it makes REST calls to the ID toolkit API.

[2017-11-16 07:15] galcyurio commented on #50
maven solution example
[code]

[2017-11-21 11:37] swftvsn opened #98 "Provide better ApiFuture migration documentation"
Now that 5.4.0 deprecated Task<T> etc. I'm not sure how to replace TaskCompletionSource<T>? Are there any examples how to implement behavior like this:

[code]

[2017-11-21 18:30] hiranya911 commented on #98
Use [`SettableApiFuture`](https://googleapis.github.io/api-common-java/0.2.0/apidocs/com/google/api/core/SettableApiFuture.html). Here's some (untested) code to get you started:

[code]

[2017-11-21 18:32] hiranya911 commented on #98
I will publish a detailed post about using this API in the near future.

[2017-11-28 11:34] nilsonpontello commented on #55
@hiranya911 , thanks for the update. I've been using 5.5.0 in production and all looks fine. I have just one small concern about bellow log message:

It is currently being logged as a **warning** message [here](https://github.com/firebase/firebase-admin-java/blob/master/src/main/java/com/google/firebase/internal/GaeThreadFactory.java#L121).

On the way as I see, warning means "we are fine for the

[2017-11-28 11:42] nilsonpontello opened #101 "Provide FCM integration"
It would be great having it here as well. Is it somehow on the roadmap?

https://firebase.google.com/docs/cloud-messaging/admin/

[2017-11-28 18:53] hiranya911 commented on #101
@nilsonpontello Definitely on the roadmap. No specific release date yet, but it's coming soon.

[2017-11-28 18:55] hiranya911 commented on #55
@nilsonpontello Good point. I'll make the change. Thanks for pointing this out.

[2017-11-28 21:45] samodadela commented on #55
@hiranya911 I'm having a hard time figuring out how to use ApiFuture.

I've found some articles explaining the usage of the (now deprecated) Tasks but can't find anything useful for ApiFuture apart from the Java docs. I also looked at the firebase-admin-api tests but those cover only getting a future and waiting for it. I know ApiFuture is a separate thing, but some nice examples would probably in

[2017-11-28 22:03] nilsonpontello commented on #55
@samodadela , ApiFuture extends [java.util.concurrent.Future](https://docs.oracle.com/javase/7/docs/api/java/util/concurrent/Future.html).

[This article](http://www.baeldung.com/java-future) should be enough to learn how to use it.

If you still need extra help, try another articles from [here](https://www.google.com.br/search?q=java.util.concurrent.Future+examples&oq=java.util.concurrent.Future+

[2017-11-28 22:12] hiranya911 commented on #55
@samodadela I would recommend you to take a look at the [ApiFutures](https://googleapis.github.io/api-common-java/1.1.0/apidocs/com/google/api/core/ApiFutures.html) helper class, which provides some utilities for dealing with `ApiFuture` instances. I'm also working on an article with more detailed examples. I'll post a link here when it goes live (hopefully by early next week).

[2017-11-29 09:01] samodadela commented on #55
@hiranya911 I looked at the helper class but there's not a single example or description. I also checked the tests for ApiFutures but I still don't get it. It's a bit difficult to know what the designer of the class meant and what the usages are. I see there's a connection with Guava futures so I'll try to understand that first - otherwise I'll just stick with Tasks awaiting for your article.

Tha

[2017-11-29 11:17] samodadela commented on #55
Well.. in the end I came up with this:

        SettableApiFuture<String> future = SettableApiFuture.create();
        final Query mDatabase = getDatabaseReference( firebaseProjectDatabase ).child( valueName );

        mDatabase.addListenerForSingleValueEvent( new ValueEventListener() {
            @Override
            public void onDataChange( DataSnapshot snapshot ) {
                String va

[2017-11-30 00:53] adtoday opened #103 "FirebaseAuthException: IO error while creating user account"
* Operating System version: Google appengine standard environment (Java 7)
  * Firebase SDK version: 5.5.0
  * Library version: 5.5.0?
  * Firebase Product: Auth API

I'm trying to create a user through the Authentication API. However, I'm always receiving an ExecutionException with the message:
com.google.firebase.auth.FirebaseAuthException: IO error while creating user account

I do not fully un

[2017-11-30 02:00] hiranya911 commented on #103
This type of issues are almost always configuration problems. Please share a full stack trace.

[2017-11-30 19:31] adtoday commented on #103
Actually, I feel so stupid now. I probably rushed into posting the question, but sometimes you get a blocking in your head.. I just needed a sleep.
The project that was making requests to create the user on google app engine, was different than the project registered in firebase as we have 2 different projects that we want to integrate with firebase, and we can not make them as services. This is o

[2017-12-01 10:31] petq01 opened #104 "Functionality cloud messaging - condition: Condition topic is case sensitive, condition OR not working?"
I have posted issues for functionality firebase cloud messaging in StackOverflow [https://stackoverflow.com/questions/47569891/condition-topic-is-case-sensitive-condition-or-not-working](url)

[2017-12-01 10:41] petq01 commented on #104
I have built java server API logic for firebase cloud messaging.
My two main problems are:

1st question from docs condition is defined as case insensitive.
But in practice field condition is case sensitive. And it accepts only case sensitive created topics. I have an idea on workaround this with get all topics on server key project and compare them with equalsIgnoreCase with java. 
But I cant fin

[2017-12-01 18:01] hiranya911 commented on #104
Please use this channel for reporting/discussing issues concerning the Java Admin SDK code. All the above questions are on the FCM REST APIs. I will ask somebody from the FCM team to look at your post on stackoverflow.

[2017-12-01 18:01] #104 closed

[2017-12-03 23:18] hiranya911 commented on #103
Glad you figured it out. Thanks for the update. :+1:

[2017-12-03 23:18] #103 closed

[2017-12-03 23:28] hiranya911 commented on #55
@samodadela Thanks for sharing your code snippet. Only thing I would change is your `future.set(null)` statement in the `onCancelled()` event handler. I would do `future.setException(error.toException())` instead.

[2017-12-04 11:15] petq01 commented on #104
I can't find channel FCM REST API to report this issue.

[2017-12-05 00:30] hiranya911 commented on #98
I've posted an article on this at: https://medium.com/@hiranya911/firebase-asynchronous-operations-with-admin-java-sdk-82ca9b4f6022

[2017-12-05 00:30] #98 closed

[2017-12-05 00:30] hiranya911 commented on #55
I've posted an article about migrating from `Task` to `ApiFuture` at https://medium.com/@hiranya911/firebase-asynchronous-operations-with-admin-java-sdk-82ca9b4f6022

[2017-12-05 13:02] Klabauterman opened #106 "Firestore large batch writes not working"
I am using this admin sdk version 5.5.0 with the new firestore. I was making batch writes and noticing that larger ones (1000 documents) were not working. The listener of the apifuture gets called, but the objects are just not in my store. With smaller batches (500 documents)  it seems to work. I tried to find a maximum batch size or timeout in the documentation but with no success.

[2017-12-05 18:08] hiranya911 commented on #106
Thanks @Klabauterman for reporting this. Can you please also share a minimal code snippet that we can use to reproduce this?

[2017-12-05 18:53] schmidt-sebastian commented on #106
The limit for batch sizes is 500. We will add this to our documentation.

You should see this reflected in the error message you get from the backend:

[code]

[2017-12-05 18:54] #106 closed

[2017-12-06 15:04] petq01 commented on #104
[https://stackoverflow.com/questions/47569891/firebase-cloud-messaging-case-sensitivity-in-topic-name-condition-not-work](url) I've updated my question

[2017-12-08 19:35] hiranya911 commented on #80
This was released today: https://firebase.google.com/support/release-notes/admin/java#5.6.0

[2017-12-08 19:35] #80 closed

[2017-12-09 11:51] cdecode commented on #62
Some of the dependencies are not bundles. They will have to be included in the firebase artifact or they can be converted to bundles in another module and released together with firebase.

Also, note that all packages will be exported (public) and so must be consistently versionned.

[2017-12-09 20:46] samodadela commented on #55
@hiranya911 thank you very much... nice article!

[2017-12-09 21:37] samodadela opened #111 "Firebase admin / Appengine timeouts"
Hi,

We are using Firebase Admin to send messages from AppEngine. All works fine most of the time... however every now and then all Firebase calls start timing out (we wait for 20 seconds max). The calls are being made on a B2 class (configured for max 2 instances) which is fed data via task queue. During normal operation each call takes about 100-150ms. If we kill the instance everything starts w

[2017-12-09 21:47] hiranya911 commented on #111
This is too vague to even attempt  to decipher. Can you please share some more details -- ideally including:
* Java code for FirebaseApp initialization and database access
* appengine-web.xml
* Error logs demonstrating the problem

[2017-12-09 22:24] Mistic92 opened #112 "Custom claims NoSuchMethodError"
### [REQUIRED] Step 2: Describe your environment

  * Library version: 5.6.0
  * Firebase Product: auth

### [REQUIRED] Step 3: Describe the problem
I just upgraded to 5.6.0 version to try custom claims and now I can't get user because I get NoSuchMethodError

[code]

#### Steps to reproduce:
So what I did.
I wanted to keep previous claims so I created copy of map and add new key-val.
[code]

It w

[2017-12-09 22:36] hiranya911 commented on #112
Your app is using an incompatible version of the `org.json:json` dependency. You will have to inspect your dependency tree and ensure that there are no conflicting or incompatible artifacts. Here's what Firebase uses: https://github.com/firebase/firebase-admin-java/blob/master/pom.xml#L423

[2017-12-09 22:36] #112 closed

[2017-12-09 23:30] hiranya911 opened #113 "Remove Dependency on org.json:json Artifact"
Several users have reported issues with our use of this library (#112 being the latest). A number of  frameworks seem to be using various conflicting versions of this library, which causes errors when trying to use Admin SDK in those frameworks. To make matters worse, there's also another [different artifact](https://github.com/tdunning/open-json) which has the exact same package structure! It is

[2017-12-11 08:04] samodadela commented on #111
Yeah, sorry for the bad report... Here's the info if it helps.

Initialization... it's a static initializer per instance, each instance can accesses multiple databases within a single project):

               try {
                    FirebaseOptions options = new FirebaseOptions.Builder()
                            .setCredentials( GoogleCredentials.fromStream( ResourceLoader.getResourceAsStrea

[2017-12-11 19:36] hiranya911 commented on #111
@samodadela thanks for providing the additional info.

I don't see anything obviously wrong with the code (although I cannot rule it out either, since I can only see a small portion of your app). However, one issue you might be running into is the background thread limit (10) enforced by App Engine. Each database client spawns 4-5 threads, so 2 database instances bring you awfully close to that li

[2017-12-11 21:20] samodadela commented on #111
@hiranya911 actually production will use 4 shards - i.e. 4 databases... guess I'm over limit already ;(
We do use java8 so I guess I can look into the ThreadManager... do you have an example using ThreadManager? We go live in the next few days so I will see first hand what happens after reaching the limit ;)

[2017-12-11 21:32] hiranya911 commented on #111
@samodadela try the following as a starting point:

[code]

[2017-12-11 21:36] samodadela commented on #111
@hiranya911 you said:

What do you mean by database client? Is it 4-5 per database OR per firebase operation?

The docs say that for java8 the limit is 50 threads... does that mean I'm good for 50/5 = 10 databases?

[2017-12-11 21:46] hiranya911 commented on #111
4-5 threads per database (i.e. instance of `FirebaseDatabase`).

The 50 limit is for the "request threads". I'm not sure if the long-running threads spawned by the Admin SDK count against that quota. Without the custom `ThreadManager` they count against the background thread quota, which is only 10.

[2017-12-11 21:50] samodadela commented on #111
OK, thanks. One more question, please. Should I use the same instance of ThreadManager for all initializeApp() calls or does each one get it's own?

[2017-12-11 21:54] hiranya911 commented on #111
You should be able to use the same instance across multiple apps.

But I'm surprised that you're using multiple apps. Can you please elaborate a bit on that. Why is it necessary to use multiple app instances?

[2017-12-11 22:03] samodadela commented on #111
You mean multiple databases? We are sharding on multiple Firebase databases withing a single Firebase project - according to DAU calculations a single database will not be able to handle all the load.

We did consider (by suggestion from google) Firestore where the limits are much higher. It even promises that sharding is not required... however in it's current status (beta) the limits are still t

[2017-12-11 22:12] hiranya911 commented on #111
My question is more about why do you need to call `FirebaseApp.initializeApp()` multiple times. You should be able to access multiple database instances from the same app, by calling `FirebaseDatabase.getInstance(String url)`.

I would rather call `initializeApp()` once globally (possibly via a `ServletContextListener`), and then use that single global instance for all database calls. If you were

[2017-12-11 22:16] samodadela commented on #111
You're right... it was because initially we were sharding projects - so the code was handling different projects and we totally forgot about it.

Thank you very much. You've just cut down my thread count ;)

[2017-12-11 22:26] hiranya911 commented on #111
Note that it will still spawn 4-5 threads per `FirebaseDatabase` instance. But each `FirebaseApp` instance also starts at least one background thread (for proactive OAuth2 token refresh). So based on this, I think you were definitely bumping into the GAE thread limit earlier, and that was probably the most likely cause of the issue.

If we are right, custom `ThreadManager` combined with a single s

[2017-12-11 22:34] samodadela commented on #111
I just tried the custom ThreadManager and it doesn't work... not even one request went through. Hmm...

Can you tell me how to enable logging in Firebase Admin so that I can see what's going on? The gae instance started up (cold start after upload) and all request timed out.

What I did:

    private static BasicScalingThreadManager basicScalingThreadManager = new BasicScalingThreadManager();

  .

[2017-12-11 22:54] hiranya911 commented on #111
Make sure you're on java8 runtime, and the threadsafe option is enabled in your appengine-web.xml.

To enable debug logging, you need to package a logging.properties file with your app:

[code]

Then in your appengine-web.xml:
[code]

[2017-12-12 11:22] samodadela commented on #111
@hiranya911 we changed the code call initializeApp only once... however when I plug-in the custom ThreadManager all requests start failing. In the logs I see this:

    com.google.firebase.database.logging.LogWrapper debug: Aborting transactions for path: /v1/dev/chat/5708697783238656/-L09NxBPgqOivQ71q7hM. Affected: /v1/dev/chat/5708697783238656/-L09NxBPgqOivQ71q7hM
    com.google.firebase.databas

[2017-12-12 12:46] nilsonpontello commented on #111
I don't think you have reached the thread limits because GAE won't let you spawn new threads after limit was reached. It throws an exception for such cases with clear explanation of what happened.

It is more likely you are having a CPU problems then some requests are timing out due to heavy load. This would have happened with any RPC regardless if it is firebase or not.

Instead of having max max

[2017-12-12 14:19] samodadela commented on #111
@nilsonpontello could be, though my problem is now with the ThreadManager and fetchUrl... nevertheless it's better if I initialize just one app for all it's databases. I'll test it by decreasing max instances and see what happens.

[2017-12-12 18:20] hiranya911 commented on #111
@samodadela The `<runtime>java</runtime>` option is required. But `url-stream-handler` is a workaround to a problem in GAE if I remember correct. I would expect it to be fixed in prod by now. In fact I have a couple of test java8 apps in GAE prod right now, which are working fine. Did you see this in the dev app server by any chance? If so I would recommend you to try `<url-stream-handler>native</

[2017-12-12 22:26] samodadela commented on #111
@hiranya911 I changed url-stream-handler to native, passed an instance of ThreadManager to initializeApp() (which is now called only once for all databases in the project) and flooded the server with requests. I did not get any timeouts waiting for Firebase like before - very nice.

The only errors I got are the following:
- Request was aborted after waiting too long to attempt to service your req

[2017-12-12 22:42] hiranya911 commented on #111
Thank you @samodadela. I'm glad it worked out. It was a useful learning experience for us as well. I'll make sure the feedback you've provided are applied towards improving our documentation and APIs.

[2017-12-13 17:08] samodadela commented on #111
@hiranya911 some more info... the 'native' setting does not work on devserver so we went with 'urlfetch' without ThreadManager... after some time we started getting the timeouts again. I'll try again with 'native' and ThreadManager.

[2017-12-13 17:59] samodadela commented on #111
@hiranya911 another thing that could cause problems...

consider this code...

        SettableApiFuture<ValueHolder> future = SettableApiFuture.create();
        final Query mDatabase = FirebaseConfigurationsHelper.getDatabaseReference( firebaseProjectDatabase ).child( path );

        mDatabase.addListenerForSingleValueEvent( new ValueEventListener() {
            @Override
            public vo

[2017-12-13 18:29] hiranya911 commented on #111
In the above example, no additional threads get spawned, except for the fixed number of threads already alive in the database implementation. So there's nothing to clean up.

All Admin SDK methods return an `ApiFuture` at the moment, which has a `get()` method that takes a timeout.

Are you still having issues? Even after applying the custom `ThreadManager`?

[2017-12-13 18:38] samodadela commented on #111
The problem happened when running without ThreadManager. I'm now running with ThreadManager to see what happens.

You said:

In the example above... where can I get a future?

[2017-12-13 18:57] hiranya911 commented on #111
@samodadela `addListener` methods don't return anything. Plus, the callbacks fire asynchronously. So you need to implement your own synchronization in this case using a `SettableApiFuture` as you've done above, or using a Semaphore.

If our earlier line of reasoning was correct, I would not expect your scenario to work without the custom `ThreadManager`. That's the fix we did -- it forces the SDK

[2017-12-13 22:11] samodadela commented on #111
@hiranya911 OK, thanks.
I'll keep monitoring the deployment with the custom ThreadManager and report back.

[2017-12-13 23:11] hiranya911 commented on #111
On a related note GAE Java7 runtime was just deprecated: https://cloud.google.com/appengine/docs/deprecations/java7

I think going forward the Admin SDK should only support the java8 runtime, which simplifies things quite a bit. For instance, we can now implement `BasicScalingThreadManager` is a built-in API and even make it the default.

[2017-12-14 04:20] mituldreamworld commented on #50
@hth Thanks for the solution.

[2017-12-14 08:54] samodadela commented on #111
Yesterday I did not manage to test under load, but I noticed that some operations were timing out. The future get() is set to wait 30 seconds. For example, this log entry timed out after 7ms (I timed it in the code):

[code]

Is this firebase timing out internally or some problem with the future? Are those timeouts normal? Do I need to handle such cases and possibly retry?

The code is like this:

[2017-12-14 18:14] hiranya911 commented on #111
@samodadela are you saying that the `Future` which should have waited for 30 seconds, timed out only after 7 milliseconds? That sounds like a bug, and we can look into it. How exactly did you measure this? Can you share a code snippet with your timer instrumentation?

The `Remaining:` is an entry periodically logged by the WebSocket connection's idle checker. That doesn't impact you.

[2017-12-14 19:35] hiranya911 commented on #111
It would also be useful to know what your load conditions are. How many concurrent requests, how many update operations, size of an update etc.

I've been running the following test case on my workstation. It runs 32 concurrent threads, each submitting 1000 writes. This completes under a minute, without any errors.

[code]

[2017-12-14 20:46] samodadela commented on #111
@hiranya911 about that 7ms timeout - ignore it... I misread the log... I'm having a hard time following the logs... I don't understand why the logs start with com.google.firebase, though I log my message as soon as I'm in the handler (I call firebase later). Really weird... I'll get back when I'm clear what's happening. Am I seeing the log entries from those 5 Firebase threads?

BTW: I'm now runni

[2017-12-14 21:37] hiranya911 commented on #111
You seem to have enabled debug logging for the Admin SDK, so it is producing a lot more log entries than usual. Initializing `FirebaseApp` and `FirebaseDatabase` would spawn the database threads, which will start logging immediately. You can adjust the log level in your `logging.properties`.

[2017-12-15 13:29] samodadela commented on #111
Yeah, thanks - my bad... the reason why I couldn't understand the log is because I was filtering on Errors, but the log in question was split in multiple entries. I was looking at the entry where the error happened and was thinking it was the start of the log.

I have a few questions regarding the do's/don't so on Firebase:
- I counting the number of user on a certain database. Coming from AppEngi

[2017-12-15 18:41] hiranya911 commented on #111
* Sharding sounds like the right thing to do in this case -- assuming you have many concurrent writers. Some developers have also proposed other solutions ([example](https://stackoverflow.com/a/15149311/5190886)) for similar problems using Cloud Functions. I would defer this to @mikelehen and @schmidt-sebastian to see if there's a better answer.
* Flat data models are generally preferred over deep

[2017-12-18 21:33] samodadela commented on #111
@hiranya911 Apropos logging... I enabled firebase logging and my logs seem to be mixed up... I'm looking at a log for one operation, but the entries seem to be from another. Can you _confirm_ that I'm seeing a mix of logs from the thread that is processing the request as well as logs from other (firebase) threads? I'm not seeing a thread id  in the log so I don't know which log entry is from the r

[2017-12-18 23:28] hiranya911 commented on #111
You can set a log pattern in the logging.properties to include a thread ID. But yes, by default logs will be intermingled. There's no way around it in Java.

* If you register a listener using `addValueEventListener()` or `addChildEventListener()`, they will remain active until explicitly removed. You can use `addListenerForSingleValueEvent()` if you want the listener to fire only once.
* No addit

[2017-12-21 13:43] samodadela commented on #111
@hiranya911 We finally got rid of all the timeouts. The problem was in some code that was deleting old chat entries. Because logging is messed up the error was showing also in other requests and made troubleshooting difficult it seemed like there's a general problem with all Firebase calls.

The problem with the deletion code was that we were registering a listener within a listener. The inner lis

[2017-12-21 21:48] hiranya911 commented on #111
1. All Firebase database events fire on a single thread (aka EventTarget). Therefore if you add a listener within a listener, and then wait/block until that inner listener fires, it will naturally cause a deadlock -- which will inevitably result in a timeout (since you are blocking the thread that is supposed to fire the inner event listener). In general you should never block or run expensive com

[2017-12-21 23:18] samtstern opened #116 "Ignore changes from Double to Long (and vice-versa) for values that are semantically the same."
I just ran into a strange bug in some geofire-java testing that has been fixed in the Android SDK but is not fixed here.

Internal details:
@schmidt-sebastian fixed it in CL 141802441, the internal bug number is 32519140.

[2017-12-22 19:43] #116 closed

[2017-12-25 11:22] Nic0w commented on #29
This bug still exists and @hiranya911's description of the problem is pretty accurate.

Everything works fine until requests making use of Firebase Realtime Database start to hang and return 502 errors (that don't show up in Google App Engine request logs...). After having to deal with these very strange errors quite a few time on different instances, we enabled the  DEBUG logging on FirebaseDatab

[2017-12-25 20:46] hiranya911 commented on #29
Which version of the SDK are you using? This should not happen in recent versions, provided you're not accessing/instantiating more than one database instance. Can you describe how you initialize FirebaseApp and FirebaseDatabase in your app?

I'm also pretty sure there hasn't been any extended outages in the recent past (definitely not one that lasted 6 hours). If there were we would have received

[2017-12-26 11:00] Nic0w commented on #29
Hi @hiranya911,
We're using Firebase Admin SDK 5.6.0.
Regarding FirebaseApp and FirebaseDatabase init, we have a custom ServletContextListener with the following code in the contextInitialized method :
`    FirebaseApp defaultApp = null;

    try {

      defaultApp = FirebaseApp.getInstance(Constants.DEFAULT_FIREBASE_APP);

    } catch (IllegalStateException e) {

      LOGGER.log(Level.INFO, "Fi

[2017-12-26 21:01] hiranya911 commented on #29
Thanks @Nic0w. The initialization code looks good. At this point I don't have a specific explanation as to what may have caused this. Possible reasons include:

1. A bug in the SDK: We did some changes in SDK's WebSocket layer in v5.5.0. It is possible something went wrong there.
2. A transient network error in App Engine
3. A transient error in Firebase RTDB, localized to your database instance

[2017-12-27 11:27] Nic0w commented on #29
I reported the issue through the official Firebase channel as you asked, @hiranya911.
However I was not able to attach a zip with the full logs for this issue ("File type not allowed"), nor was I able to send the raw txt file (error 500 after submitting the form), maybe because the file is too big (5.9 MB of logs).

Anyway, I'm hoping this issue will be resolved shortly.
Thank you for your help :)

[2017-12-27 20:37] volodyad opened #118 "Check whether all offline data synchronized"
How can we know that all offline data synchronized after goOnline, i need to ensure that all data synchronized before clear the data

[2017-12-27 20:37] hiranya911 commented on #29
Thanks @Nic0w. Please hold on to the logs. Somebody will get in touch with you over the course of next week, and you will be able to share the files then.

[2018-01-04 00:44] ZeyadAlma commented on #50
I'm having the same problem but the solution does not work for me
Java 8 Standard App Engine - Firebase Admin
Exception:

    java.lang.NoSuchMethodError:
        com.google.common.base.Preconditions.checkState(ZLjava/lang/String;Ljava/lang/Object;)V`
        at com.google.firebase.FirebaseApp.checkNotDeleted (FirebaseApp.java:352)
        at com.google.firebase.FirebaseApp.getOptions (FirebaseApp

[2018-01-05 21:28] rockwotj commented on #118
Hi, can you be more specific? What is your use case? Please note that the Admin SDK doesn't support Persistence like the mobile SDKs do.

[2018-01-07 21:26] 779503982 commented on #50
The solution didn't work for me either.

[2018-01-08 20:59] samodadela commented on #111
@hiranya911
1. Thanks for the explanation.
2. I can't reproduce it at will - in happens once for ~10000 requests, always when creating the token (which runs on an automatic scaling frontend instance).

[2018-01-08 21:47] hiranya911 commented on #111
Try specifying a custom thread pool and a thread factory (via `ThreadManager` interface) for that instance, and see if that helps. Without a custom `ThreadManager` and background thread support, the SDK will try to spawn a new request-scoped thread for each incoming request (see [implementation](https://github.com/firebase/firebase-admin-java/blob/master/src/main/java/com/google/firebase/internal/

[2018-01-11 15:55] zloyreznic commented on #50
try
[code]

[2018-01-11 16:23] 779503982 commented on #50
@zloyreznic Thank you very much for your reply. I appreciate it. After I added the routines galcyurio provided, I noticed there were still two versions of guava existed in the maven dependencies in Eclipse. So I right clicked the guava with lower version in "Maven Dependencies", and select "Maven" -- "Exclude Maven Artifact", and this issue was thus figured out. Still, thank you very much!

[2018-01-12 04:25] fecogc opened #124 "FR: Limited Service accounts"
This is more a request, can Google create a role so only read is allowed for a Service Account?

Please see https://stackoverflow.com/questions/48218045/firebase-limited-service-account

[2018-01-12 15:09] ZeyadAlma commented on #50
@zloyreznic  Thank you for replying, I excluded both Guava and Guava-jdk5. Still not working

[2018-01-12 18:17] hiranya911 commented on #124
You can set specific roles/permissions on a service account via IAM: https://cloud.google.com/iam/docs/understanding-service-accounts#granting_minimum_permissions_to_service_accounts

The default service account you get from Firebase console has full access to all Firebase services.

[2018-01-12 18:17] #124 closed

[2018-01-12 19:44] hiranya911 commented on #50
While there's no guaranteed way to "fix" this, I think there may be a way to drastically reduce the chance of developers running into this. I will send a experimental PR shortly.

[2018-01-12 20:16] hiranya911 commented on #50
I've attached a new `firebase-admin` binary with a potential fix at #125. Please check if that helps with this problem.

[2018-01-12 21:20] 779503982 commented on #50
@hiranya911 Thank you! I think it worked for me. I just deleted all the exclusions and also the dependency on guava of newest version, that error didn't show up again. I can see two guava versions in Maven Dependencies in Eclipse, but without "no such method error".

Could you please help with another google project, this project won't work on google cloud: https://github.com/GoogleCloudPlatform/f

[2018-01-12 21:40] hiranya911 commented on #50
@779503982 thanks for the feedback.

The issue with the other project is not really related to Admin SDK in anyway, but it seems it was fixed a few weeks ago: https://github.com/GoogleCloudPlatform/firebase-appengine-backend/pull/8

You should follow up there.

[2018-01-26 22:00] hiranya911 commented on #118
Closing this due to lack of activity. Please reopen if there's any follow up.

[2018-01-26 22:00] #118 closed

[2018-01-26 22:02] hiranya911 commented on #111
I believe this is answered/resolved to a satisfactory level. We are also working on dropping GAE java7 runtime support and supporting only java8 runtime, which will make this experience even better in the future. Feel free to reopen if there's anything related to the original timeouts issue.

[2018-01-26 22:02] #111 closed

[2018-01-26 22:04] hiranya911 commented on #86
@schmidt-sebastian is this something we ought to support?

[2018-01-26 22:05] hiranya911 commented on #50
Fixed in #125.

[2018-01-26 22:05] #50 closed

[2018-01-26 22:06] hiranya911 commented on #62
We will need some community support to implement and test this. Feel free to reopen and follow up if you're interested.

[2018-01-26 22:06] #62 closed

[2018-01-29 18:28] #79 closed

[2018-02-04 17:07] dimipaun opened #134 "Allow control of the URL prefix for googleapis.com API calls"
Hi guys,

We need to operate in a corporate environment that severely restricts access to the wider internet. Trying to white-label all googleapis.com IPs is a fools errand (there are _a lot_ of them, and likely to change).

The best way would be allow us to control the prefix of the URLs to googleapis.com calls so that for example we can direct them via a https://googleapis.example.com/ proxy tha

[2018-02-04 19:56] hiranya911 commented on #134
This is what the [`setHttpTransport()`](https://firebase.google.com/docs/reference/admin/java/reference/com/google/firebase/FirebaseOptions.Builder.html#setHttpTransport(com.google.api.client.http.HttpTransport)) API is for:

[code]

Alternatively, use the HTTP proxy support built into the JVM: https://docs.oracle.com/javase/8/docs/technotes/guides/net/proxies.html

[2018-02-04 19:56] #134 closed

[2018-02-07 13:46] cemo opened #137 "FR: Firebase Analytics Server Side"
My Environment:

  * Operating System version: Any
  * Firebase SDK version: Any
  * Library version: Latest
  * Firebase Product: analytics

Please provide Firebase analytics Api for server side. We would like to give a decision right now and being limited on client side is unfortunately not acceptable.

[2018-02-07 15:40] dimipaun commented on #55
Hi @hiranya911 , have the *Async calls on the server side is great, but getting rid of the Task based one is a big problem, because we can no longer share code between app and server.
In our case, we are actually using the app code on the server side to automate our tests, which is quite useful and powerful.
This would no longer be possible if we nuke the Task based interface.

[2018-02-07 17:47] hiranya911 commented on #137
What features would you like to see in a server-side analytics API? Client SDKs primarily support logging analytics events. I don't think there's a use case to support that server-side.

[2018-02-07 18:17] cemo commented on #137
I would like to use firebase analytics as a marketing automation tool. My primary purpose is forwarding all events in our system to firebase and using its audience feature.

I want to do this in server side because it has major advantages.

1. Instead of implementing firebase in multiple client, I can implement in a single server and maintain it.
2. Accuracy of data in client sides are usually pro

[2018-02-14 22:16] hiranya911 commented on #101
This was released today: https://firebase.google.com/support/release-notes/admin/java#5.9.0

[2018-02-14 22:16] #101 closed

[2018-02-14 22:36] avishalom commented on #137
Just to clarify,
A user does something which you log on your server, you are looking for a way for the server to log the event *as the user* (would you be passing user specific event attributes? (e.g. user-agent)).
is that it?

[2018-02-15 09:42] cemo commented on #137
@avishalom the scenario you are describing is exactly valid. You can consider our server as an agent.

[2018-02-16 03:42] esprehn commented on #137
We have the same problem in cloud functions. The cloud function reacts to the client doing something and needs to log an event to analytics on behalf of that user. We don't want to give the client access to the data necessary to log such an event though.

It's the same use cases and motivate:
https://developers.google.com/analytics/devguides/collection/protocol/v1/

[2018-02-20 15:55] garrettjonesgoogle opened #144 "firebase-admin exposes unstable APIs"
Hello,

An issue was filed against google-cloud-java ( https://github.com/GoogleCloudPlatform/google-cloud-java/issues/2890 ) because users are having trouble with version consistency. It turns out that firebase-admin added types from google-cloud-java onto its surface in this PR:

https://github.com/firebase/firebase-admin-java/pull/83

Since google-cloud-firestore is beta, this means that fireba

[2018-03-09 09:21] xbauquet opened #150 "Error when validating idToken behind a proxy"
### Environment

  * Operating System version: Debian 8.9
  * Firebase SDK version: 5.9.0
  * Library version: 5.9.0
  * Firebase Product: auth
  * Java: openjdk version "1.8.0_131"

### The problem

I tried to use the firebase-admin-java to authenticate my user via Google.
Every time I was getting this error:
`com.google.firebase.auth.FirebaseAuthException: Error while verifying token signature.`

[2018-03-09 17:46] #150 closed

[2018-03-21 06:52] wsimf opened #155 "FR: Expose mutable_content property in iOS Notifications API"
* Operating System version: Any
  * Firebase SDK version: 5.9.0
  * Library version: Latest
  * Firebase Product: notifications

Please provide an API for setting the `mutable_content` property for iOS in Firebase Notifications.
`com.google.firebase.messaging.Aps` class exposes some some properties like `content-available` but not `mutable_content`.

`mutable_content` property is important for pro

[2018-03-21 16:50] hiranya911 commented on #155
I have an action item to implement this across all Admin SDKs. Will include it in an upcoming release.

[2018-03-26 14:44] phingers commented on #106
So I'm trying to write 2500 records into the system, and I batch them in firestore rules at 500 each, but they dont seem to be firing off. How do you recommend we do the batches?

[2018-03-26 16:28] schmidt-sebastian commented on #106
Can you share a code snippet and explain the behavior that you are seeing? Does the AsyncFuture we return never resolve?

You can see how we use WriteBatches here: https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/google-cloud-firestore/src/test/java/com/google/cloud/firestore/it/ITSystemTest.java#L495

Furthermore, can you go into a little more detail as to how you have configu

[2018-03-27 02:12] phingers commented on #106
The below code doesnt show any errors, and prints out

Committed 436
Committed 500
Committed 500
Committed 500
Committed 500

But no actual records are written to the firestore.

Obviously I'm new to firestore, and it has to be something simple right?

You can see the batch call I have commented as well, that I put with batch.set() or batch.delete() wrappers around the lines as well.

[code]

[2018-03-27 03:33] schmidt-sebastian commented on #106
Your commented out code look as such:

[code]

You seem to have some issues here:
- The first if branch (the delete) doesn't actually call `delete()`.
- You are not waiting on the promises (you need to return them).
- You are initializing Firestore multiple times. While this is more of a performance issue, you should only call `firebase.admin()` once (this constructor does a bunch of work, such as

[2018-03-27 03:54] hiranya911 commented on #106
@phingers This is the wrong place to have this discussion. Please use Stackoverflow or firebase-talk Google group for usage questions. This Github repo is for discussing SDK implementation issues for the "Java" Admin SDK.

[2018-04-04 03:20] kimxogus opened #160 "Upgrade google-cloud-firestore and google-cloud-core-grpc dependencies"
### [READ] Step 1: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ make sure the issue title starts with "FR:".
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase discussion, us

[2018-04-13 16:55] lpfeup opened #162 "Publish Shaded JAR-File"
It would be useful to have a shaded jar with packaged dependencies and relocated to another package to prevent version conflicts (specially because of other dependencies which require a different version of netty).

[2018-04-13 23:10] #155 closed

[2018-04-14 00:25] #76 closed

[2018-04-20 10:02] funkybookends opened #166 "Error Response with zero content throws NullPointerException"
Hello,

When a response comes back with an erred status code com.google.firebase.messaging.FirebaseMessaging#handleSendHttpError attempts to read the body, however if the content is null, the jsonFactory throws a NullPointerException, which is not converted into a FirebaseMessagingException. This ends up hiding the http response code.

In the tests, there is a test for testSendError, but there is

[2018-04-20 16:42] #160 closed

[2018-04-20 16:47] hiranya911 commented on #166
@funkybookends Does this scenario actually occur in practice (with the actual FCM service), or is it just a precaution? If it does happen, can you share the details on how to repro it?

[2018-04-23 16:05] funkybookends commented on #166
We have seen it a few times. We don't know what caused it, and we can't see the status code to know more. At the point where this happens the request has completely failed, so there's not much that can be done anyway.

To reproduce, just mock a non 2XX response with zero content.

[2018-04-23 17:06] #166 closed

[2018-04-28 15:45] engeeaitch opened #170 "Error obtaining database reference, version >= 5.6.0 only."
### [REQUIRED] Step 2: Describe your environment

  * Operating System version: Google App Engine
  * Firebase SDK version: 5.11.0
  * Library version: com.google.firebase:firebase-admin:5.11.0
  * Firebase Product: database

### [REQUIRED] Step 3: Describe the problem

My app starts up and then listens for changes to my Firebase Database.  I am running my app in Google App Engine, and have recent

[2018-04-28 18:12] hiranya911 commented on #170
Update your gcloud components (specifically the dev app server), and use the GAE Java 8 runtime which does not restrict access to the `SelectorProvider` class. That fact that you're not seeing this error in the cloud means you're already using java8 in production.

From: https://cloud.google.com/appengine/docs/standard/java/jrewhitelist

[2018-04-28 18:12] #170 closed

[2018-04-30 01:40] washowasho commented on #55
I'm getting this message still, even after moving from Task to the Async operations in Firebase Admin

I prefer to continue using AppEngine Standard. Is it safe to continue with Standard?

[2018-04-30 04:05] hiranya911 commented on #55
@washowasho Can't use `FirebaseDatabase` on GAE standard (at least not without a bit of custom code). Everything else should work out fine.

[2018-04-30 04:11] washowasho commented on #55
@hiranya911 Thanks. I'm only using it for Auth, so I guess I am good.

Should I just ignore the error I previously mentioned? Is that an issue that's being worked on? Or should I be doing something different?

Thanks.

[2018-04-30 04:31] hiranya911 commented on #55
You can ignore it since it's an info-level log. It will also go away in a future release, once the [GAE support refactor](https://github.com/firebase/firebase-admin-java/pull/153) in the `v6` branch goes into effect. You can also get rid of it now by providing a custom `ThreadManager` implementation, but I don't think it's worth the effort.

[2018-04-30 20:52] engeeaitch commented on #55
@hiranya911 I am using this library to access my Firebase Database on GAE Standard.  It has been working well until recently, when I have been getting lots of errors like this: "The process handling this request unexpectedly died. This is likely to cause a new process to be used for the next request to your application. (Error code 203)"  My app is simply looking for changes to the database, and t

[2018-05-01 05:35] engeeaitch commented on #55
@hiranya911 Thanks - I'm using manual scaling, so should be OK (but I still don't know what is causing my 203 errors).

[2018-05-11 20:47] hiranya911 commented on #55
I will close this issue since the API refactor is now complete and released. There's one incorrectly named blocking method in `FirebaseAuth` API (`setCustomClaims()`), which will be fixed in the next minor release (see #175).

[2018-05-11 20:47] #55 closed

[2018-05-16 21:31] engeeaitch opened #177 "FirebaseDatabase not working in versions >= 6.0.0 in Google App Engine"
* Operating System version: Google App Engine, running Java 8
  * Firebase SDK version: 6.0.0 or 6.1.0
  * Library version: _____
  * Firebase Product: database

My web app runs on Google App Engine.  I initialise the App:

        try {
            FirebaseApp.initializeApp(options);
        }
        catch(Exception error){
            Log.info("FirebaseApp already initialised");
            ret

[2018-05-17 01:57] hiranya911 commented on #177
Works fine in our tests. What scaling mode are you using?

[2018-05-17 03:51] hiranya911 commented on #177
I just double checked to be sure, and it worked as expected. I'm using SDK v6.1.0 on java8 runtime with manual scaling. My code is not too different from yours. I have the following in a servlet context listener:

[code]

In addition to the expected output in my servlets, I've also enabled debug logging. I see the following getting logged in the App Engine console:

[code]

I would also recommend

[2018-05-17 20:30] engeeaitch commented on #177
Hi Hiranya,
Thanks for your help. I have tried to set the debug logs you suggested with no success.  However, the one thing I have discovered is that for versions >= 6.0.0, there is no /_ah/background entry appearing in the GAE log - it's in here that I should see the Child Added event (and where it appears for version 5.11.0).  Are you able to point me in the right direction please?

P.S. I'm usi

[2018-05-17 23:17] hiranya911 commented on #177
The latest SDK does not use background threads, so the lack of `/_ah/background` requests is to be expected. To enable debug logs, make sure to also add the `slf4j-jdk14` to the classpath:

[code]

[2018-05-19 15:53] engeeaitch commented on #177
Hi Hiranya,
I'm struggling with this one - I can't help think that this is something to do with not having background threads, but I don't know where to look.  Are there any changes necessary to move from 5.11.0 to 6.0.0? Anyway, I added the slf4j-jdk14 to the class path, and now have some logging appearing, but it doesn't look very interesting:

![gae log](https://user-images.githubusercontent.co

[2018-05-19 19:49] hiranya911 commented on #177
The SDK no longer needs or tries to start background threads. You should make sure you're indeed running on GAE java8 runtime. 6.x will not work on java7 runtime, which is one way of explaining your current predicament. I see the proactive token refresher going hot in your log -- which happens during RTDB initialization -- so it is doing something. Perhaps you can share a minimal code sample which

[2018-05-19 19:57] hiranya911 commented on #177
Also note that Cloud Console does not do a great job at displaying debug logs. Sometimes log statements get folded under other request log entries. You might have to click on certain log entries to expand them. Also make sure to select "All Logs" in the drop down at the top. See below...

<img width="1331" alt="screen shot 2018-05-19 at 12 55 31 pm" src="https://user-images.githubusercontent.com/2

[2018-05-20 07:15] engeeaitch commented on #177
Hi Hiranya,

Thanks for your suggestions.  Java runtime is Java8 (as reported by App Engine Versions console).
I have written a cut down version of my program here:

[code]
And here is the log when I run under 6.1.0:
![log w 6 1 0](https://user-images.githubusercontent.com/5493363/40276507-e7d57c40-5c03-11e8-918d-52c37bace2f9.PNG)

And here is the log when I run exactly the same program under 5.11

[2018-05-20 07:59] hiranya911 commented on #177
@engeeaitch Just tried your code. Here's what I got:

<img width="994" alt="screen shot 2018-05-20 at 12 42 27 am" src="https://user-images.githubusercontent.com/2375201/40276744-ea020480-5bc6-11e8-9214-4b91a4e28a60.png">

I think it's working in your case too. It's just the logging behavior in App Engine has changed with the latest version of the SDK.

In the past versions, the SDK used backgroun

[2018-05-20 11:09] engeeaitch commented on #177
@hiranya911 Thank you - you are correct - by running the /hello page, I can see the entries in the logs.  How confusing!!!.
Anyway, my problem now is that when a database entry is found, this block of code is called but is not working (but works fine in 5.11.0):

[code]
With version 6.1.0 I can't see any errors in the logs, but when I look at the queue count in the console, it is empty (but not fo

[2018-05-20 18:29] hiranya911 commented on #177
I didn't try this in cloud, but just using the local dev app server and some additional logging in the code I get:

[code]

You can't call `com.google.appengine.api.*` APIs on regular threads. This limitation is documented in https://cloud.google.com/appengine/docs/standard/java/runtime-java8#threads. It might get fixed in a future iteration of the App Engine SDK. In the meantime, if you wish to a

[2018-05-20 18:46] hiranya911 commented on #177
Another approach I've had success with (without using Firebase `ThreadManager` API):

[code]

[code]

You can shutdown the executor in `contextDestroyed()`.

[2018-05-20 19:27] engeeaitch commented on #177
@hiranya911 Thank you very much - I used your first solution, and it's all working correctly now.
Thanks again for your help.

[2018-05-20 19:30] hiranya911 commented on #177
Sounds good. This was useful to know. Hopefully other developers doing similar things in GAE will find this thread useful.

[2018-05-20 19:30] #177 closed

[2018-05-21 18:54] hiranya911 commented on #59
Finally making some progress on this one. Feature under development in the `hkj-jwt-sign` branch.

[2018-05-22 02:18] sergey-ua opened #178 "Firebase wipes out data when performs combination of transactional updates"
### [REQUIRED] Step 2: Describe your environment

  * Operating System version: macOS Sierra 10.12.6
  * Firebase SDK version: 6.1.0
  * Library version: ?
  * Firebase Product: database

### [REQUIRED] Step 3: Describe the problem
Under some circumstances Firebase SDK squashes updates from different transactions into single set operation which wipes out existing data.

I have a structure like thi

[2018-05-22 04:09] hiranya911 commented on #178
@sergey-ua Thank you so much for the test case. Really makes it easier to look into the problem. It looks like the last transaction is the one that's causing issues. If it runs while the other 2 are still in progress, it clobbers part of the database tree. This probably has something to do with multiple transactions working on the same subtree.

@schmidt-sebastian FYI.

[2018-05-22 04:13] hiranya911 commented on #178
Btw why not fold all these changes into a single transaction?

[2018-05-22 04:32] hiranya911 commented on #178
I have a simple workaround for you. Just change the 3rd transaction as follows:

[code]

This way you're not running a transaction on the parent `TEST_USER_PATH`, which is what's causing the values to reset.

[2018-05-22 04:45] sergey-ua commented on #178
Thanks for suggestion, but as I understand this will work only in this showcase. In production I may need to update several fields in one transaction and thus this approach will not work.

[2018-05-22 04:53] hiranya911 commented on #178
Then I suggest you run all your transactions on the parent `TEST_USER_PATH` (i.e. change the 1st and 2nd transactions).  Basically, the SDK needs to see the full subtree at least once, before its children get modified by multiple concurrent transactions.

[2018-05-23 03:01] schmidt-sebastian commented on #178
@sergey-ua Thank for for filing this detailed bug report. We are looking at this with our backend team.

[2018-05-23 04:05] hiranya911 commented on #178
Based on the debug logs, it seems the last transaction commits before the current state of the `TEST_USER_PATH` is read from the remote storage (or at least without taking the current state of the node into consideration).

[2018-05-23 05:14] sergey-ua commented on #178
Maybe it worth mentioning that initially I encountered this issue with SDK 4.1.7.  Tried to update to latest but that did not help.

[2018-05-24 18:23] AdamSHurwitz commented on #137
I'd like to use Firebase Analytics for a similar use case Sending custom Analytics directly from my Java app.

It looks like this should be possible using the [Java implementation defined for Android](https://firebase.google.com/docs/analytics/android/events) since I'm using gradle to compile my Java Server App.

Also, it might be a better idea to [integrate your Firebase project directly to BigQu

[2018-05-25 18:47] schmidt-sebastian commented on #178
I have been trying to track this down. Unfortunately, this appears to be rare edge case in our event handling logic that is a little tricky to address without changing behavior that we rely on in the rest of the SDK.

For what it's worth, I have taken your example and simplified it into a test case that can be run as an integration test in the Admin SDK:

[code]

We will let you know when he addre

[2018-05-26 00:38] sergey-ua commented on #178
ok, thanks for the update. @hiranya911 @schmidt-sebastian do you know if firebase-admin-node has same issue? I am thinking of migrating my code to nodejs then.

[2018-05-26 04:55] schmidt-sebastian commented on #178
Yes, it does. For better or for worse, the codebases are a close 1:1 match. I was able to reproduce this with the Node client as well.

[2018-05-26 05:18] sergey-ua commented on #178
@schmidt-sebastian thanks, good to know. will try to go with some of workarounds proposed by @hiranya911

[2018-06-03 09:18] Nic0w opened #184 "Dangling thread(s) with FirebaseAuth.*Async methods ?"
### [REQUIRED] Step 2: Describe your environment

  * Operating System version: Google App Engine (Java 8)
  * Firebase SDK version: 6.2
  * Library version: ?
  * Firebase Product: auth

### [REQUIRED] Step 3: Describe the problem

We've got a servlet whose role is to provide a custom firebase token to the requesting user, given an id and an user name. First we check with FirebaseAuth.getUserAsyn

[2018-06-03 18:19] hiranya911 commented on #184
Sounds like a bug in your code. Following servlet responds under 1 second for me (verified in App Engine java8 runtime -- both locally and in the cloud):

[code]

Client output:
[code]

The 60s delay you're seeing is the App Engine default timeout. That indicates there's a bug in your code, and it's not doing what you expect.

Also the scenario you've described is a classic sequential computation,

[2018-06-04 07:04] Nic0w commented on #184
Hi,

Following your advice, we replaced async methods with blocking ones and our
issue went away. Response time is now below 500ms.

Thanks a lot for your help!

Le dim. 3 juin 2018 à 20:19, Hiranya Jayathilaka <notifications@github.com>
a écrit :

[2018-06-04 18:53] hiranya911 commented on #184
I will close this now. If you wish to investigate this further, please share the async code since my attempt above does not repro the issue.

[2018-06-04 18:53] #184 closed

[2018-06-12 20:42] engeeaitch commented on #55
For what it's worth, I reported the 203 errors to Google, who eventually 'fixed' the problem - there was no real explanation other than "an internal issue with regards to logging in Java where it uses ioctl(SIOCGIFCONF) and throwing exception when it fails. This may affect several Java projects and your application can be one of it." I did not need to make any changes to my app.

[2018-06-13 12:10] sebasira opened #185 "FR: Firebase Admin SDK Java - Enable Device Group Management for Cloud Messaging"
Are you planning on adding this feature in the future? Thank you

[2018-06-13 12:17] sebasira commented on #185
Sorry after reading realize that Device Groups are only for the legacy protocol

[2018-06-13 12:17] #185 closed

[2018-06-13 15:17] jonathan-bibas opened #186 "Firebase Database suddenly stop working and send TimeoutException"
Hi, all is in the title...
After some time (randomaly) the SDK doesn't want to send any update on my database. It send for each kind of request: `setValueAsync(element)` or `updateChildrenAsync(element)` a TimoutException.
My log for this error here:

![image](https://user-images.githubusercontent.com/7620241/41360621-df0b1c9c-6f35-11e8-9f92-39286d968d3b.png)
What do solve the problem is to restar

[2018-06-13 17:21] hiranya911 commented on #186
What's your scaling mode?

[2018-06-13 17:40] hiranya911 commented on #186
A couple of things you can try out:

1. Switch to manual scaling and see if that helps (it's possible that basic scaling instances are turning off certain features after the idle timeout).
2. Enable debug logs for the SDK (recommended approach is to use SLF4J, but since you seem to be on 5.x you can also call `FirebaseDatabase.enableLogging()`.

You should also share the code for initializing the

[2018-06-14 07:04] jonathan-bibas commented on #186
1. I'll investigate for some different type of scaling instance and return to you my test results, but I'm using this scaling mode:
[code]
Maybe it's the problem, the instance class is too low or there isn't enough instances (maybe need more than 1).

2. I run the version 6.0.0:
[code]

Here my code on initializing SDK/Database:

[code]

Here the code using firebase database and throwing the timeo

[2018-06-14 09:40] jonathan-bibas commented on #186
You find my problem I think. I checked and you're right I was using the old version (forgot to `mvn clean`).
Now I deed it and it doesn't seem to do the error again.
Other modification I figure out needed: I was using a old version of SLF4J (v 1.5.*) and it was causing an error on each `/_ah/start` request. I so update to v1.7 and now it seem more stable

Thank you for the fast response and proble

[2018-06-14 16:58] hiranya911 commented on #186
Glad you made some progress. I will close this issue now. We can revisit it if the problems show up again.

[2018-06-14 16:58] #186 closed

[2018-06-18 21:14] jfzr commented on #112
This problem is still happening. Problem with Spring Test boot which have the vaadin dependency causing the problem

[2018-06-18 21:16] Mistic92 commented on #112
@jfzr try to add this
[code]

[2018-06-21 08:56] vgalisson opened #187 "FR: Cloud Messaging Device Group Management for Java Admin SDK"
* Firebase Product: Cloud Messaging

I came by this [issue](https://github.com/firebase/firebase-admin-java/issues/185) about the same subject but I don't think it should be closed as it's a fair question.

Why Device Group Management is only a feature in the node.js Admin SDK ? This is very useful feature when you have to handle multiple device for a user. Firebase documentation even says :

The

[2018-06-21 17:07] hiranya911 commented on #187
Device groups are a part of the FCM legacy API: https://firebase.google.com/docs/cloud-messaging/admin/legacy-fcm

The new v1 API does not support it: https://firebase.google.com/docs/reference/fcm/rest/v1/projects.messages#Message

Node.js supports device groups because the FCM support in that SDK predates the v1 API. We currently don't have any plans to incorporate the legacy API features into o

[2018-06-22 07:28] vgalisson commented on #187
@hiranya911 Hi ! Thanks for the fast reply.

So if you don't plan on adding Device Group to Admin SDK, what is the recommend way to handle multiple device per user ?

I've read that topic "`are optimized for throughput rather than latency.`" so should we use the legacy API instead? (I would prefer not because using both API at the same time seems strange)

[2018-06-22 17:22] hiranya911 commented on #187
For now you don't have much of a choice other than using the old API if you wish to use device groups.

@sampson-chen probably has more details.

[2018-06-23 11:37] deepfriedbrain opened #188 "FR: Send verification email feature"
I'm currently using Google Identity Toolkit (Gitkit) for authentication on my website, which has a Google App Engine (GAE) for Java backend. Since Gitkit is now deprecated and Firebase Auth is its replacement, I have been trying to migrate to Firebase Auth with limited success.

I have run across an issue with sending verification emails for email/password based authentication. With Gitkit, the se

[2018-06-28 09:14] deepfriedbrain opened #190 "Firebase Admin SDK for Auth-only"
I'm replacing Google Identity Toolkit Java SDK with Firebase Admin Java SDK in my GAE project. The project bloats from 12.5 MB to 29 MB after the replacement. The Identity Toolkit was adding 1.3MB where Firebase Admin SDK is adding about 17MB. I'm using Maven to add it as a dependency.

Since I'm only interested in Firebase Auth, is there a way to just bring in the "Auth" part of the SDK and not e

[2018-06-28 17:19] hiranya911 commented on #190
Review the transitive [dependencies](https://github.com/firebase/firebase-admin-java/blob/master/pom.xml#L373) of firebase-admin, and configure a build rule to exclude the ones you don't want (specifically google-cloud-firestore, google-cloud-storage and all the netty libs). firebase-admin itself is quite small (< 1MB).

[2018-06-28 17:19] #190 closed

[2018-06-29 02:56] deepfriedbrain commented on #190
Thank you @hiranya911 . That was very helpful. It's down to 12.9 MB (tad bit higher than the 12.5 with Google Identity Toolkit, but still acceptable) after adding 5 exclusions.

        <dependency>
            <groupId>com.google.firebase</groupId>
            <artifactId>firebase-admin</artifactId>
            <version>6.2.0</version>
            <exclusions>
                <exclusion>

[2018-06-29 08:05] vgalisson commented on #187
@sampson-chen Hi, any hint on the correct way to handle multiple device per user with the latest API ? Is `topic` a viable solution?

[2018-07-02 18:22] hiranya911 commented on #144
This was understood when we took the dependency and decided to expose the Firestore API as part of the Admin SDK. We usually pin the Firestore dependency to specific versions, and do controlled releases. This doesn't fully solve the problem, but at least gives more visibility into the potential issues.

[2018-07-10 14:25] pietro3092 opened #191 "OutOfMemoryError in thread "firebase-default-14""
Hi,

I am using firebase-admin-java library to access firebase from my spring application on Tomcat 9. I am getting Out Of Memory error:
Exception: java.lang.OutOfMemoryError thrown from the UncaughtExceptionHandler in thread "firebase-default-14"
Sometimes it is "firebase-default-14", sometimes even "firebase-default-96".

I found similar problem on stackoverflow:
https://stackoverflow.com/questi

[2018-07-10 18:12] hiranya911 commented on #191
Unless you can provide a reproducible test case, there's nothing much we can do about it. It is also unlikely to be an issue with the SDK, since the SDK keeps minimum state, and if there was a memory leak more developers would be affected by it.

The thread IDs in OOM errors don't usually have anything to do with the root cause. As you may know when the JVM is at the brink of running OOM, any of t

[2018-07-29 11:03] runningcode commented on #187
If i'm understanding this correctly, device groups seem to be a part of the new http api: https://firebase.google.com/docs/cloud-messaging/android/device-group

Sending to multiple devices for a single user is a pretty common use case.

[2018-07-30 00:07] hiranya911 commented on #187
On the back-end device groups are part of the legacy API: https://firebase.google.com/docs/cloud-messaging/admin/legacy-fcm

[2018-08-03 13:25] dmytro-grankin opened #195 "FR: Provide a generic way to set data to a node (JSON/Protobuf)"
Now, to pass a custom object to `DatabaseReference.setValue(Object, CompletionListener)`, a class should have a default no-args constructor and provide public getters.

I am using Protobuf and want to pass a generated Protobuf message or a JSON string representing this message. If a string is passed to `DatabaseReference.setValue`, then it is considered as a plain string, not a string containing a

[2018-08-03 18:51] hiranya911 commented on #195
You can use Maps to implement this use case. Simply unmarshal the json string into a Map and pass that in. Here's an example that uses org.json API to parse JSON:

[code]

We are not considering API changes to Realtime Database at this point.

[2018-08-03 18:51] #195 closed

[2018-08-03 20:37] hiranya911 commented on #191
Closing this as there's not enough details to debug the issue.

[2018-08-03 20:37] #191 closed

[2018-08-09 17:40] nightrise commented on #137
Any updates on this feature, or documentation on doing it ourselves (via REST API for example)? I'm rather surprised this isn't a use-case covered by the core library. In server-authoritative applications, there are many use-cases where analytics events are emitted by the server, and not available to the client. In order to have a complete data-set we need to be able to emit analytics events serve

[2018-08-10 21:14] hiranya911 commented on #59
This has been released.

[2018-08-10 21:14] #59 closed

[2018-08-11 18:54] MrIceman opened #196 "Run transaction on a root node"
Hi, I am not sure whether following problem is a design decision or an issue.

Let's assume we have this DB Structure:
{
users: {... /* a node with many users here, having their id as index / ...},
messages: {... / same as users */ ...
}

whenever I call a transaction on a root-node reference and try to access the child "users", I receive a a node with 0 children. However, I'd like to have access

[2018-08-14 19:51] namanyayg commented on #137
Is there any solution here? Is there some way to use BigQuery perhaps?

[2018-08-15 13:46] cemo commented on #137
Please upvote issue as well

[2018-08-15 13:49] namanyayg commented on #137
For what it's worth, I don't see this happening anytime soon. Google simply doesn't support server side analytics, firebase analytics is exclusively for apps.

Right now I've imported my data into bigquery and am working on adding server side integration with my bigquery table. With this, I should be able to use bq to query data and later use datastudio to display it. I found this video helpful: h

[2018-08-29 06:22] NyanProgrammer opened #201 "Firestore Query Data Listener not work in Windows 8, 8.1 and 10"
### Environment

  * Operating System version: Windows 8 , 8.1 , 10
  * Firebase SDK version: 5.10.0 && 6.3.0
  * Library version: 5.10.0 && 6.3.0
  * Firebase Product: Database - Firestore - Listeners

### Problem

I developed a desktop app in Java for windows and linux(I work on linux), this app listen the change in database(Firestore), everything goes fine in linux ... but when i used the same

[2018-08-29 08:26] jonathan-bibas commented on #187
Any news about this feature request?

[2018-08-29 15:44] petrdvorak opened #202 "OWASP::CVE-2008-3891 Security issue"
Required info:

  * Operating System version: MacOS X 10.13.6 (17G65)
  * Firebase SDK version: 6.4.0 (master branch)

After performing an OWASP dependency analysis, we discovered that the current version of the Firebase Admin library contains a high priority security vulnerability:

Here is the report:

[dependency-check-report.zip](https://github.com/firebase/firebase-admin-java/files/2332792/de

[2018-08-29 16:11] ncanu commented on #187
The reason why device groups is not in the Java SDK admin is because is a bad approach? If that's the case what is the recommended approach? Thanks

[2018-08-29 17:59] hiranya911 commented on #202
False positive. The referenced vulnerability is an issue with Google Apps, that was identified and fixed 10 years ago: https://www.kb.cert.org/vuls/id/MIMG-7FQGWU

This library has nothing to do with SAML Sign-On or Google Apps. In general we don't deal with any individual user accounts or credentials, as this is a server-side SDK. The report itself attaches low confidence to the diagnosis.

[2018-08-29 17:59] #202 closed

[2018-08-29 20:07] NyanProgrammer commented on #201
I found the reason of the bug, it only happen in windows and is related to the cloud and the local time machine configuration, it has to be synchronized with the time provided by time.windows.com.

In my case this happen because the time in my country has been delayed 1 hour (summer time)

**Solution:** Synchronize time using microsoft service.

**Note:** QueryListener does not detect the time rel

[2018-08-29 20:07] #201 closed

[2018-08-29 21:17] petrdvorak commented on #202
@hiranya911 Thank you very much for the comment and reviewing the issue.

[2018-09-11 17:12] RohanTalip opened #204 "FR: Expose the FirestoreOptions#setTimestampsInSnapshotsEnabled(boolean) method"
firebase-admin-java does (6.4.0) not yet expose the FirestoreOptions#setTimestampsInSnapshotsEnabled(boolean) method :
https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/google-cloud-clients/google-cloud-firestore/src/main/java/com/google/cloud/firestore/FirestoreOptions.java#L203

I would like to keep our POJOs similar between our Android code base and our Java code that uses Fi

[2018-09-12 17:36] nbransby opened #206 "allow for client-safe authentication"
I am primarily after the ability to authenticate as a user for Cloud Firestore

See https://github.com/firebase/firebase-android-sdk/issues/14 for more info

[2018-09-12 18:50] hiranya911 commented on #206
Admin SDK is for authenticating as privileged, back-end services. It should not be used for desktop apps, and authenticating as individual users is really not in scope for us.

Having said that, there's a plan to support scoping Firestore requests down to individual users: https://github.com/firebase/firebase-admin-node/issues/132. When that's implemented it will be exposed in Java as well. That,

[2018-09-12 18:54] hiranya911 commented on #206
Closing, since there isn't anything that can be done in this repo to support this feature. Firestore auth override capability is developed in the google-cloud-firestore library.

[2018-09-12 19:13] nbransby commented on #206
Hmm ok well as @samtstern rated my chances of forking firebase-android-sdk and remove the android specific code as somewhere between "very hard" and "impossible"

How would you rate my changes of forking firebase-admin-java and adding the client-safe authentication from the android client? Its all just java right? 😀

[2018-09-12 21:15] hiranya911 commented on #206
I'd say near impossible. Implementing this in our server SDKs require changes to Firestore service itself. Firestore server SDK code is here: https://github.com/GoogleCloudPlatform/google-cloud-java/tree/master/google-cloud-clients/google-cloud-firestore

It is not a simple clone/port of the Android code. It's a whole different beast.

[2018-09-13 17:46] #206 closed

[2018-09-13 22:44] samtstern commented on #206
I believe the Firestore gRPC API (which the Java SDK uses) will "just work" if you pass it a Firebase Auth token.  And you can get that token from the Firebase Auth REST API.

However the challenge here is threading that token through the `google-cloud-java` library (as @hiranya911 mentioned) and then managing the token lifecycle (they die each out).

[2018-09-13 23:13] nbransby commented on #206
I’m guessing you chose to respond here because you feel that this task is (substantially?) more viable that porting the Firestore and dependent code from the android sdk to pure java?

[2018-09-13 23:15] samtstern commented on #206
Yeah @nbransby I don't think starting from the Android SDK will ever work, to be honest.  I think building your own client on top of the gRPC or REST APIs would be easier than that.

[2018-10-23 10:47] viniciuslrangel opened #208 "FR: Get project id from credentials"
Cannot get project id from FirebaseOptions if using GoogleCredentials (aka default instance).

`FirebaseApp.getInstance().getOptions().getDefaultProjectId()` could check if it's null and get from ServiceOptions

[2018-10-26 10:48] FlorianD77 opened #210 "Problem with SDK Integration in Java ?"
Hi,

I actually have a problem with the Admin SDK integration and usage.
I actually work on a Java Project and I need to send notifications (firebase cloud messaging) on iOS devices. I use Firebase Admin SDK 6.5.0.

I follow the documentation and add everything we need, but when I try to send a push message, I have an error :

<img width="725" alt="capture d ecran 2018-10-26 a 12 53 56" src="https

[2018-10-26 13:41] chaosnya commented on #210
Same issue on my side

[2018-11-04 14:32] berar1994 opened #212 "Query doesn't fetch document by numeric field value"
Hi guys,
I have an issue related to fetching a document from Firestore by a field which has numeric type. I'm using the **6.3.0** version for **firebase-admin** artifact id in a spring boot project. You can see in below image the field on which I would like to perform the query.

![capture](https://user-images.githubusercontent.com/17515623/47965309-0de54400-e04e-11e8-89a0-0b87899b1830.PNG)

I'm u

[2018-11-06 13:59] ericciaparicio opened #213 "I cant save data from Java Class with Main Method"
Hello. I am trying to save data on Firebase Database Real Time from Java Class with Main Method.

The code is:

    public class App {

    public static void main(String[] args) throws IOException {

    	// Fetch the service account key JSON file contents
    	FileInputStream serviceAccount = new FileInputStream("C:\\IDE\\workspace\\FirebaseDB\\myappnotif-841e1-firebase-adminsdk-dlzsd-6af0dae740

[2018-11-14 00:47] hiranya911 commented on #208
Where will it be used in the SDK?

[2018-11-14 00:59] hiranya911 commented on #213
2nd argument to `setValueAsync()` should be a json serializable priority value. You're passing in a `CompletionListener` which is wrong.

[2018-11-14 00:59] #213 closed

[2018-11-14 01:01] hiranya911 commented on #210
Looks like it was a temporary issue in Google Auth. Works fine now.

[2018-11-14 01:01] #210 closed

[2018-11-14 02:15] schmidt-sebastian commented on #212
Thanks for letting us know. We will look into this as soon as we can.

[2018-11-14 10:36] viniciuslrangel commented on #208
Just a guess, but it would be more friendly to find the project id when the `FirebaseOptions.Builder` does not come with it. I had to dig deep in the source to find `ServiceOptions.getDefaultProjectId`

[2018-11-14 22:11] hiranya911 commented on #208
The getters on `FirebaseOptions` are meant to be called from within the SDK. And we do so in the following util method:

https://github.com/firebase/firebase-admin-java/blob/e938204d6880f1e1c8780889505d84b3851b746c/src/main/java/com/google/firebase/FirebaseApp.java#L294-L314

How the external code finds the project ID is really not a concern of this API.

[2018-11-14 22:11] #208 closed

[2018-11-15 13:45] sergeymeshkov opened #214 "Impove error messages while sending Apple notifications"
Operating System version: Ubuntu 18.04.1 LTS
Firebase SDK version: firebase-admin 6.5.0 (Java)
Firebase Product: messaging

When I send a push notification that does not conform to the Apple notification format, I expect to see a detailed error with information about which parameters have been missed.

For example when I send request:

[code]

I recieve following error:

[code]

In this case, it i

[2018-11-15 14:52] cvml-user opened #215 "Not receiving document updates on network disconnect and reconnect in Firestore Java admin SDK"
* Operating System version: Windows 10
  * Firebase SDK version: 6.5.0
  * Firebase Product: Firestore

I am setting up a watch for a query in Firestore in my local PC using Java admin SDK. If the network disconnects and reconnects then the updates are no longer received by my local machine. I have observed that if the network reconnection happens within a short interval (< 2 - 3 mins) then it is

[2018-11-15 18:38] hiranya911 commented on #214
There seems to be a trick to get the FCM service to include more details in errors. Stay tuned for an update.

[2018-11-17 12:52] andvalsol commented on #137
Is still there an option to add Firebase Analytics on the server side?

[2018-11-19 05:54] cvml-user commented on #215
After setting the keep alive in the `TransportChannelProvider` of the `FirestoreOptions` while initializing `FirebaseApp`, this problem was resolved

[2018-11-19 05:54] #215 closed

[2018-11-27 00:31] hiranya911 commented on #214
This has been implemented. Will be included in the next release.

[2018-11-27 00:31] #214 closed

[2018-12-04 12:12] HDHunter opened #231 "NullPointerException when FirebaseInstanceId.unsubscribeFromTopic()"
### [READ] Step 1: the detail  .
I use fabric catch a exception .
`Caused by java.lang.NullPointerException: Attempt to invoke virtual method 'com.google.android.gms.tasks.Task com.google.firebase.iid.FirebaseInstanceId.zza(java.lang.String)' on a null object reference
       at com.google.firebase.messaging.FirebaseMessaging.unsubscribeFromTopic(Unknown Source:21)
       at com.chope.gui.utils.Ch

[2018-12-04 18:00] hiranya911 commented on #231
This is the server-side Java Admin SDK. You're looking for https://github.com/firebase/firebase-android-sdk

[2018-12-04 18:00] #231 closed

[2018-12-21 18:49] ToddKerpelman commented on #137
Hey, folks. I'll just chime in to say this is a feature request the Analytics team has certainly heard from customers, and it's something they're looking into, but as usual I can't share any specific plans or roadmap or anything.

Right now, probably your best option would be to import your analytics data from Google Analytics for Firebase into BigQuery and then combine that with any other data yo

[2018-12-22 18:55] cemo commented on #137
@ToddKerpelman This is great. I think that this API is already implemented for mobile devices. In order to send events by mobile devices there must be an API for this purpose. I feel that the API needs to be officially documented and publicly available for server side.

[2018-12-27 02:04] peavers opened #234 "setCredentials is required but not mentioned in documentation when using setServiceAccountId"
* Library version: 6.6.0
  * Firebase Product: firebase-admin

Following the [documentation](https://firebase.google.com/docs/auth/admin/create-custom-tokens) under "Using a service account ID" I should be able to skip the `setCredentials` option in the builder, as based on the documentation it's assumed to replace the need for a local copy of `service-account.json`. However should the `setCredent

[2018-12-27 18:37] hiranya911 commented on #234
Thanks @peavers for pointing this out. This is a documentation error. `GoogleCredentials` must be specified when creating an instance of `FirebaseOptions`. We will update the documentation as follows:

[code]

Same applies for Node.js as well. Python, Go and C# will work as indicated in the samples.

[2019-01-02 19:50] #234 closed

[2019-01-04 06:40] cemo opened #236 "FR: Add scheduled notification parameter"
Please add support for scheduled notifications which is already supported by Web UI. Current API does not expose a parameter to schedule a notification.

[2019-01-04 19:54] skonx opened #237 "Is it possible to avoid memory leaks using Firestore on Glassfish/Payara ?"
### Describe your environment

  * Operating System version: Ubuntu 16.04 or Docker
  * Firebase SDK version: 6.6.0
  * JVM : Java(TM) SE Runtime Environment (build 1.8.0_191-b12) / Oracle
  * Payara Server: 5.184
  * Firebase Product: Firestore

### Describe the problem

I store few information in Firestore but I can get/update/delete data.
Here is my problem, after undeploying a web application

[2019-01-04 21:57] hiranya911 commented on #237
Try calling `close()` on the `Firestore` instance. In the future this will happen automatically when `FirebaseApp.delete()` is called. See #227

[2019-01-04 22:57] skonx commented on #237
Hi @hiranya911.
I've already performed a `close()` on the `Firestore` instance. Unfortunately, the errors remain.
Thinking about a potential issue with `io.grpc`, I've implemented [InternalThreadLocalMap.destroy()](https://github.com/netty/netty/issues/6891#issuecomment-374134097). The errors remain.

I've read that `close()` was blocking : [Firestore javadoc](https://googleapis.github.io/google-c

[2019-01-04 23:15] hiranya911 commented on #237
Hi @skonx. It seems the problem is deep in the bowels of the Firestore client implementation. Can you report this at https://github.com/googleapis/google-cloud-java. They are the ones who can do something about this. We'll keep this issue open as well for our own tracking.

[2019-01-04 23:18] hiranya911 commented on #237
In RTDB we encountered a similar issue with Netty and fixed it by doing `FastThreadLocal.removeAll()`. It's hacky but that's another thing you can try.

[2019-01-05 07:44] cemo opened #238 "FR: Split Messaging"
We have million users and topics on firebase. However sending some general push notifications to all users is causing over load. It would be very nice to have a parameter to send messages in an interval. For example for 10M users in a topic, If I send 10 minute for messaging interval, I expect 1M users per minute. This is nice since the load is distributed.

[2019-01-07 11:30] skonx commented on #237
Thanks @hiranya911. I will test this asap 👍 and keep you post of course.
BTW, could you please provide best practices regarding firebase/firestore closing? I've not found something in the documentation about closing the db or the firebase app itself.

[2019-01-07 17:40] skonx commented on #237
Unfortunately, `FastThreadLocal.removeAll()` does not work 😕

[2019-01-07 18:08] skonx commented on #237
Hi @hiranya911, I've opened an issue as recommended.

[2019-01-09 09:42] matejsp opened #243 "Java 11 build problems"
Unable to build using java 11.
- Old Mockito version is not working on java 11.
- Latest Mockito cannot mock IOException throw if interface cannot throw IOException.

Pull request contains fix for java 11 build.
- bump Mockito to 2.23.4
- fix unit test WebsocketConnectionTest.testIncomingMessageIOError

``
  org.mockito.exceptions.base.MockitoException:
  Checked exception is invalid for this meth

[2019-01-11 22:40] hiranya911 commented on #238
Are all 10M users on the same topic? Then you are essentially sending just one message to the topic, which FCM sends out to all topic subscribers. Where do you see the overload in this flow?

[2019-01-11 22:49] cemo commented on #238
Firebase and FCM can handle to send these pushes so fast but this is not valid in server side. Our backend systems have issues to handle so much users in short amount time especially if the message is sent to all users.

[2019-01-11 23:40] hiranya911 commented on #238
What does your server-side code look like (some psuedocode is good enough for us to get an idea of your use case)? Is it something like this:

[code]

[2019-01-12 11:33] cemo commented on #238
Our use case includes creating some segments on our server side. These segments are synced firebase via topics. We send notifications to these topics.

[code]

[2019-01-12 13:10] skonx commented on #237
Hi @hiranya911, no response from Google Cloud Java. Could you please push up the opened issue?
It is a real production issue...

[2019-01-14 23:34] hiranya911 commented on #237
@wilhuff can you direct this to somebody at the Firestore SDK side?

@skonx you can also request for free support if this is critical for you: https://firebase.google.com/support/troubleshooter/

[2019-01-15 19:20] skonx commented on #237
Thanks @hiranya911, google-cloud-java guys replied with a forward from the thread I follow... no real improvement yet 😢

[2019-01-15 19:22] skonx commented on #237
I understand this a beta product but the impact on performances and security are reals. We are talking about memory leaks. If I did something wrong following the official documentation I'd like to know it.

[2019-01-15 20:56] hiranya911 commented on #237
Thanks for being patient @skonx. I understand the frustration. However, it will take some time to figure this one out--especially since the problem seems to be a bug in Netty, which is not our code. I will keep pinging the Firestore team for an update.

Btw, is there an actual memory leak here? As far as I can tell, the server runtime detects some dangling threads and schedules them for renewal to

[2019-01-15 21:17] skonx commented on #237
Apologizes, I didn’t want to rush you and I hope you didn’t feel bad reading my last post, that was not my intention :)

So, yes it seems to be an issue with netty but I cannot figure it out because the netty’s support requires a test case their api directly, assuming I use firebase admin sdk... I think it will be blocked soon.

Usually, Java ee servers are very very smart... but when they are ove

[2019-01-15 21:19] skonx commented on #237
Last note : I’ve tested with Spring and there is the same issue.

[2019-01-15 21:31] hiranya911 commented on #237
Thanks you @skonx. Some very good points there. I will also create an internal bug for the Firestore team to make sure this doesn't fall through the cracks.

[2019-01-15 23:52] hiranya911 commented on #238
So what exactly is the source of overload in the above code? Is it the sync operation where you have to bulk subscribe users to a topic? `sendNotification()` should be pretty fast, since it's just one HTTP call to the FCM server.

[2019-01-16 06:44] cemo commented on #238
`sendNotification` is fast. However these notified users are immediately sending requests to our servers. Sometimes the number of these users are much more than we can handle. We would like to receive these requests by time not so fast.

[2019-01-16 13:06] skonx commented on #237
Hi Hiranya.

I've just tested with **Apache Tomcat 9.0.14** and the error is the same :

[2019-01-16 13:08] skonx commented on #237
So, it is **not server specific**.

I can also try with OpenLiberty but assuming the test is relevant using Tomcat, Payara and Glassfish, I feel we should focus on the code itself or the dependencies/librairies.

[2019-01-16 15:10] skonx commented on #237
**Moving Firebase/Firestore initialization/destruction in the `ServletContextListener` is worst.**

## Log/StackTrace from Tomcat :

16-Jan-2019 16:03:33.546 INFO [http-nio-8080-exec-1] fr.trendev.firestore.MyServletContextListener.contextDestroyed ====>>>> [null] is stopping on 1/16/19 4:03 PM
16-Jan-2019 16:03:33.559 INFO [http-nio-8080-exec-1] fr.trendev.firestore.MyServletContextListener.conte

[2019-01-16 15:12] skonx commented on #237
I don't confortable activating/destroying firebase or firestore in the ServletContextListener.
It should be performed in the Servlet lifecycle... The exceptions are probably thrown because I close firestore before the FirebaseApp, will test that.

[2019-01-16 15:15] skonx commented on #237
I've removed `fa.delete()` from `contextDestroyed(ServletContextEvent sce)` but the exception remains.

[2019-01-16 15:16] skonx commented on #237
I'm pushing this code update in a second branch called "**listener**".

[2019-01-16 16:01] matejsp commented on #237
This is not really a memory leak. Well not when running normally in production.

This is a classloader leak, when application is stopping/redeploying, because running threads are still referencing some classes in threadlocal.

Of course it would be nice to get this fixed, but this is not critical issue as the title suggests. I would fix the issue title to be more appropriate.

[2019-01-16 16:45] skonx commented on #237
Hi @matejsp.

I guess you're right but as you mention they are "running threads" and they should not run after the undeployment and by the way if you perform additionnal firestore queries you will get many times this severe log as much as you perform queries. This is where I suspect a real memory leak in fact. The `io.grpc` threads are not closed and the `firestore.close()` does not block waiting

[2019-01-16 18:47] wilhuff commented on #237
Apologies for the delay in response. I've been doing a bunch of digging on what's going on here.

There are a few interrelated issues here:

  * Firestore's underlying gRPC channels and threads aren't fully shutdown because `Firestore.close()` isn't waiting for shutdown: this is a gax-grpc bug, fixed in googleapis/gax-java#628, first released in gax-grpc 1.36, which was after your initial reports.

[2019-01-16 20:48] skonx commented on #237
Thank your for this clear explanation.
I was afraid of that.

[2019-01-16 22:35] wilhuff commented on #237
OK. Closing for now. If others are trying to use a similar configuration and are running into this we may reconsider.

In the meantime, both gax-java and grpc-java are open source and those teams might accept feature requests to expose this kind of full shutdown control.

I did find some code that shows how to remove ThreadLocals without direct support [on stackoverflow](https://stackoverflow.com/

[2019-01-16 22:35] #237 closed

[2019-01-17 22:10] hiranya911 commented on #238
I will assign this to the FCM team for some feedback. But personally I don't think this is something that FCM should implement.

Topic messaging systems (FCM included) are generally optimized for scale and throughput. Developers use topic messaging _because_ it is capable of delivering messages to a very large number of users, very quickly.  Implementing throttling on top of that is counter to tho

[2019-01-17 23:33] hiranya911 commented on #238
I would create a cloud function to handle subscriptions. Suppose you want no more than 100,000 users per bucket, and you already have 280,000 users. You can represent this state in the database (Firestore or RTDB) using the following structure:

[code]

Now you can implement an [`onCreate()` trigger](https://firebase.google.com/docs/functions/auth-events#trigger_a_function_on_user_creation) which

[2019-01-20 11:19] cemo commented on #238
@hiranya911 I appreciate your help but this seems only a workaround. There are some edge cases like sending "all users". The required users are actually available on Firebase but we need to send again on servers again.

I really believe that currently there is 2 essential feature need to be addressed. One of them is this issue and the other one is scheduled messages on API #236.

[2019-01-25 22:19] hiranya911 commented on #243
This is fixed in #242

[2019-01-25 22:19] #243 closed

[2019-01-26 06:40] ejona86 commented on #237
https://github.com/grpc/grpc-java/pull/5290 should fix the Context ThreadLocal.

You can clean up the current thread's Netty ThreadLocal by calling io.netty.util.concurrent.FastThreadLocal.removeAll() or destroy(). While being cleaner than the reflection-based StackOverflow answer, it would be pretty hard to run on all the threads and so isn't really a solution.

[2019-02-05 22:36] chong-shao commented on #187
Hi, the FCM team is working on a new private topics feature for Java Admin SDK, which would be equivalent to device groups.

[2019-02-11 13:33] cemo opened #248 "FR: In-App-Messaging"
Please provide Firebase Api for in-app-messaging at Admin Api.

[2019-02-11 19:17] hiranya911 commented on #248
@samtstern do you know who this should be assigned to from the FIAM side?

[2019-02-13 05:00] samtstern commented on #248
I don't even know what a FIAM admin API would do but Megha B would be the
one to comment.

On Mon, Feb 11, 2019, 12:18 PM Hiranya Jayathilaka <notifications@github.com>
wrote:

[2019-02-13 23:42] hiranya911 commented on #248
@meghab can you please take a look?

[2019-02-14 11:46] cemo commented on #248
Hi @MeghaB,
I would like to send in-app notifications by Admin API. In our use case I would like to select in some of our users in our backoffice or CRM application. Then I would like to send them in-app notification as push notifications.

[2019-02-14 17:16] MeghaB commented on #248
Hi @cemo - What you're referring to sounds like a use-case for Firebase Cloud Messaging (FCM) - FIAM is for in-app messages (ex: embedded within the app as a modal or overlay), but not notifications.

We already do have an admin sdk for FCM, detailed here! https://firebase.google.com/docs/cloud-messaging/admin/

[2019-02-14 18:39] #248 closed

[2019-02-15 10:31] cemo commented on #248
@MeghaB This is definitely our use case what you described. We want to open some modals inside the app but these users must be targeted by our admins and crm power users. Sometimes it can be a discount offer or an advertisement related to our products etc...

Please reopen this issue @hiranya911

[2019-02-21 11:17] dimitraz commented on #86
Is there a follow up to this? I'm having the same problem

[2019-02-21 23:46] schmidt-sebastian commented on #212
This doesn't reproduce for me:

[code]

I also verified that the value itself is stored as a Number on the backend. Please let us know if this is still an issue.

[2019-02-21 23:46] #212 closed

[2019-02-22 01:17] rogerBasket opened #253 "RuntimeException log"
### [READ] Step 1: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ make sure the issue title starts with "FR:".
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase discussion, us

[2019-02-22 05:30] u-shunya opened #254 "onNewToken() sometimes gets unusable token."
I changed MyApp's implementing push notification service from GCM to FCM.
I am using the code below to generate FCM Registration token and send it to my server.
[code]
I noticed that the new token may not be in the same format.
In many cases, the token is 152 characters and it is valid in notifications. However, in rare cases, a token of 140 characters is acquired. This could not be used for notif

[2019-02-22 18:01] hiranya911 commented on #254
There's no such API in the Admin SDK. I think you're referring to the following Android API: https://firebase.google.com/docs/reference/android/com/google/firebase/messaging/FirebaseMessagingService

That's not part of this project.

[2019-02-22 18:01] #254 closed

[2019-02-22 18:04] hiranya911 commented on #253
This is because the `ThreadPoolEventTarget` does not handle any errors thrown by user code. It's simple enough to fix (basically do the same error handling magic we implemented in `DefaultRunLoop`). But I don't know if we want to change the existing behavior. I'll assign to the RTDB team for now.

[2019-02-25 14:11] lauri3new commented on #137
Is there any update on this or a link to a custom solution?
Ideally I want to be able to update user properties in firebase analytics from server side, so I can filter by them later when using other firebase services e.g. FCM

[2019-02-28 20:29] cemo commented on #238
@chong-shao is there any news on this topic?

[2019-03-01 08:54] shindemanoj opened #257 "Error Obtaining Database Reference"
### [REQUIRED] Step 2: Describe your environment

  * Operating System version: Google App Engine
  * Firebase SDK version: com.google.firebase:firebase-admin:6.7.0
  * Library version: _____
  * Firebase Product: database

### [REQUIRED] Step 3: Describe the problem
Hello,
I am getting following exception, when I am trying to run app locally.
Can you please help me to resolve the issue?

com.goog

[2019-03-06 18:53] schmidt-sebastian commented on #75
We are taking a look at this internally as this affects Android as well.

[2019-03-07 21:42] vkolotov opened #258 "Accessing http headers when sending push messages"
### [READ] Step 1: Are you in the right place?

Yes, I'm in the right place.

### [REQUIRED] Step 2: Describe your environment

  * Operating System version: macos
  * Firebase SDK version: ?
  * Library version: 6.7.0
  * Firebase Product: messaging

### [REQUIRED] Step 3: Describe the problem

#### Steps to reproduce:

When sending push notifications, how do I access http response headers? As pe

[2019-03-07 22:14] vkolotov commented on #258
The response headers can be accessed via `fcmException.getClause()` method:

[code]

[2019-03-07 22:14] #258 closed

[2019-03-08 01:05] hiranya911 commented on #258
Also take note of #255, which will handle some of this automatically for you in the future.

[2019-03-08 20:03] hiranya911 commented on #257
Can you try this in production App Engine? I think this is most likely a bug in the App Engine dev app server you're using. We have a bunch of users who are using this library in App Engine (myself included).

[2019-03-13 19:05] shindemanoj commented on #257
Thanks. I am reading data with REST now.

[2019-03-13 19:05] #257 closed

[2019-03-14 01:49] schmidt-sebastian commented on #75
I have pushed PRs to provide better error messages. Unfortunately, this will only marginally improve your experience with BigDecimal/BigInteger. Our backend does not support integer precision for numbers that exceed the 64bit signed range. If you do need to store larger numbers, please use "double" instead.

[2019-03-14 22:33] hiranya911 commented on #75
@schmidt-sebastian are you going to implement any changes in the Admin SDK code?

[2019-03-15 01:40] schmidt-sebastian commented on #75
We are only updating our error messages: https://github.com/googleapis/google-cloud-java/pull/4675

[2019-03-15 20:55] hiranya911 commented on #144
Now that Firestore is GA, I think we can close this.

[2019-03-15 20:55] #144 closed

[2019-03-20 13:09] thirupks commented on #50
<dependency>
            <groupId>com.google.cloud</groupId>
            <artifactId>google-cloud-datastore</artifactId>
            <version>1.62.0</version>
            <exclusions>
                <exclusion>
                    <groupId>com.google.oauth-client</groupId>
                    <artifactId>google-oauth-client</artifactId>
                </exclusion>
            </exclusions>

[2019-03-28 18:14] RobertHeim opened #263 "Bug: Inconsistent error auth/invalid-email between createUser and signIn"
### [REQUIRED] Step 2: Describe your environment

  * Operating System version: Ubuntu 14.04.5 LTS
  * Firebase SDK version: Java firebase SDK com.google.firebase:firebase-admin:6.8.0
  * Library version: JS firebase: "^5.3.1"
  * Firebase Product: auth

### [REQUIRED] Step 3: Describe the problem

Trying to login with a strange email such as `ł€¶ŧł@example.com` results in `auth/invalid-email`. So

[2019-03-28 18:59] hiranya911 commented on #263
@bojeil-google, looks like the Admin SDK allows the email address, but the client SDK does not.

[2019-03-28 19:09] bojeil-google commented on #263
Client validator is quite lax: https://github.com/firebase/firebase-js-sdk/blob/master/packages/auth/src/utils.js#L484
Something else is throwing the error.

[2019-03-28 19:24] wti806 commented on #263
@RobertHeim  Please update the SDK version you are using. This issue was fixed in [v5.7.1](https://firebase.google.com/support/release-notes/js#5.7.1). Thanks!

[2019-03-28 19:53] #263 closed

[2019-04-05 18:04] hiranya911 commented on #65
This implementation refactor is now complete. Error codes will be revised when the new error handling proposal goes into effect.

[2019-04-05 18:04] #65 closed

[2019-04-08 17:14] chong-shao commented on #236
Hi cemo, thanks for the request, we are currently working on this scheduled delivery feature.

[2019-04-08 17:14] #236 closed

[2019-04-08 17:22] chong-shao commented on #238
Hi cemo, for our current infrastructure it's not very straightforward to enable this. But a solution is under discussion.

[2019-04-08 17:22] #238 closed

[2019-04-29 06:50] n-sviridenko commented on #137
We also need this.

[2019-05-01 06:30] sauagarw opened #270 "JSON support in data node while sending notification for Android through Firebase Admin SDK"
### [READ] Step 1: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ make sure the issue title starts with "FR:".
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase discussion, us

[2019-05-07 15:37] Energy0124 commented on #137
There is an important use case for games with IAP as any client-side information is going to be unreliable. Having the event logged in server-side make it a bit more reliable.

[2019-05-07 17:45] #187 closed

[2019-05-12 01:40] fecogc opened #271 "The operation had to be aborted due to a network disconnect"
* Firebase SDK version: 6.8.1
  * Firebase Product: Realtime database

Suddenly Firebase Realtime Database will be get disconnected and all its calls / transaction fails until a restart of the microservice.

**Transaction at /tid-191/bid-92/user_settings/uid-191/counterMap/P04 failed: DatabaseError: The operation had to be aborted due to a network disconnect**

The api is hosted in AWS, so I don't

[2019-05-12 08:18] n-sviridenko commented on #137
Many things happen server-side (e.g. events happening when the user is offline). Without such a simple feature, it's impossible to target the right users. This fact forces us think towards other solutions on the market :(

[2019-05-13 21:42] hiranya911 commented on #271
I believe transactions are retried up to 25 times before the SDK gives up. That combined with the error message, seems like a network issue in your infrastructure that lasted for several minutes.

@schmidt-sebastian do you have any ideas?

[2019-05-14 18:50] schmidt-sebastian commented on #271
@fecogc Can you provide us with debug logs? You can see how to enable them here: https://medium.com/@hiranya911/logging-in-java-libraries-for-firebase-and-google-cloud-platform-f8742493b73f

[2019-05-15 06:03] cemo commented on #236
Is this available now?

[2019-05-15 08:27] swapkids commented on #137
This is crucial for our solution as well. Please consider a fix ;-)

[2019-05-21 23:31] fecogc commented on #271
I found the cause of this issue.

Where there an out of memory issue (Heap space in Firebase), the connection/transaction will fail and will not auto connect or recover.

Saddly I dont have the log file. But you can replicate the issue by uploading 50k 5kb object to Firebase.
My Java memory size at the moment was 1500mb.

[2019-05-22 12:11] Amosss commented on #237
I just encountered this problem myself with tomcat 9 and I'm using FireStore as well.
Not sure I understood what should be done in order to avoid this error. Please advice, thanks.

[2019-05-22 12:16] Amosss opened #272 "io.grpc.Context and Firestore"
Hi

I use Firestore and I just encountered the following: SEVERE [Catalina-utility-2] org.apache.catalina.loader.WebappClassLoaderBase.checkThreadLocalMapForLeaks The web application created a ThreadLocal with key of type [java.lang.ThreadLocal] (value [java.lang.ThreadLocal@486b085d]) and a value of type [io.grpc.Context] (value [io.grpc.Context@5c653a4b]) but failed to remove it when the web app

[2019-05-23 15:29] wilhuff commented on #237
Again, this isn't a configuration we can support because not all of our dependencies support it. The Firestore SDK itself does not directly leak via ThreadLocals.

The gRPC PR above, was released as part of grpc-java 1.19, so any version later than will have one fewer ThreadLocal to clean up, but Netty and others will still leak this way so you still need manual clean-up.

If this kind of operatio

[2019-05-23 18:25] Amosss commented on #237
What I find weird is that when I work locally (WAR in eclipse), everything is ok with no problem.
When I run remotely (WAR on a linux server), then I get these logs regarding threadlocals.
Is it weird or is it just me who thinks it is?

[2019-05-23 18:42] wilhuff commented on #237
This likely comes down to differences in configuration between the two environments. I can't comment one way or another on how to resolve it though.

[2019-05-24 18:15] hiranya911 commented on #272
I see that @wilhuff has commented on #237. Closing this issue, since our position on this hasn't changed.

[2019-05-24 18:15] #272 closed

[2019-05-24 18:16] hiranya911 commented on #188
@bojeil-google can this be closed since the email action link API is now released? Do we plan to do any more work to support sending emails from the server-side?

[2019-05-24 18:33] bojeil-google commented on #188
It can be closed.

[2019-05-24 18:33] #188 closed

[2019-05-31 17:07] feinstein opened #273 "FR: Break down this library into smaller ones for Microservices and FaaS"
I am using Firebase Auth in my Flutter App and I need to validate my users in my Microservices. I just need Firebase Auth and nothing more.

I run my code in a serverless environment, a FaaS, so the smaller the better. My code was with 7MB before I added this library, now it jumped to 27MB!!!

This makes it very hard to use this library into an AWS Lambda and the likes of it.

Please break it down

[2019-05-31 17:29] hiranya911 commented on #273
It's easy to filter out transitive dependencies that you don't want. Just use Maven exclusions to remove the `google-cloud-storage` and `google-cloud-firestore` dependencies (those are the biggest ones as far as I know). You might be able to drop some of the `netty-*` dependencies as well. Gradle supports the same feature too, if that's how you manage your builds.

We do this in our own codebase t

[2019-05-31 17:29] #273 closed

[2019-05-31 17:31] feinstein commented on #273
I use gradle, but this is a big hassle and a waste of time, just the opposite of what cloud computing is all about.

[2019-05-31 17:39] feinstein opened #274 "CVE-2018-10237 Security Issue"
Runing the OWASP Dependency Check plugin for Gradle I could find these vulnerable libraries included in the project:

[code]

[2019-05-31 17:47] hiranya911 commented on #274
We have upgraded guava in the master branch to 26.0. Hopefully that will address this.

[2019-05-31 17:48] feinstein commented on #273
`google-cloud-storage` is about 1MB, while `google-cloud-firestore` is 14MB alone!

Could you open your build folder and share a printscreen of the sizes of all those jars, so I could select them more easily?

[2019-05-31 17:50] hiranya911 commented on #274
Confirmation that the issue is fixed in latest guava versions: https://github.com/google/guava/wiki/CVE-2018-10237

Our next release will include the new guava version.

[2019-05-31 17:50] #274 closed

[2019-05-31 18:13] hiranya911 commented on #273
I created a simple webapp project with just `firebase-admin` as the sole dependency. Without any exclusions, the `WEB-INF/lib` directory is 23MB. With Firestore and Storage taken out, it comes down to 8.4MB. I can get it down to 5.9MB by taking out the 3 Netty dependencies.

[code]

That's everything that can be removed if you want to use FirebaseAuth.

[2019-05-31 18:15] feinstein commented on #273
Thank you, this helps a lot!

[2019-05-31 18:18] feinstein commented on #273
I think it's clear now that `Firestore` and `Storage` takes out the vast majority of space in this library (~75%), so it would make sense to at least make 2 libraries, one for Firebase Auth, and one for the rest.

Just my 2 cents.

[2019-05-31 22:23] fecogc commented on #271
I don't see any retries. Because after the error the field that I wanted to change remained the same.
How do I make sure it retried?

[2019-05-31 23:06] schmidt-sebastian commented on #271
Transaction retries happen when data on the backend changes and the client state is not up to date. For this to occur, we have to be able to communicate with the backend to receive the updated hash.

That being said, the SDK should retry any failed connection attempts.

@fecogc Are you still blocked by this?

[2019-06-01 00:56] fecogc commented on #271
Its not really blocking me. Since we have another nosql db that syncs the data.
It's just a bit annoying because in firebase the count is 4 but it really should be 5.

So, according to my findings, if the transaction is not committed/completed. I need to retry myself right?

[code]

[2019-06-04 07:44] christopher-cudennec opened #275 "Possible bug: Is ApsConfig#aps really mandatory?"
* Firebase SDK version: 6.8.0
  * Firebase Product: messaging

We want to send simple push notifications with a title and a collapse-id for grouping.

We use the message's `Notification#title` for title and want to set the collapse-id as `apns-collapse-id` header of `ApnsConfig`. When creating the `ApnsConfig` we get the error "aps must be specified" because it is checked as mandatory. However, th

[2019-06-06 08:17] hugoblanc opened #276 "Error 500 - No details - deleteInstanceId/deleteInstanceIdAsync"
### [REQUIRED] Step 2: Describe your environment

  * Operating System version: windows 10 _ 10.0.17763
  * Firebase SDK version: 6.8.1
  * java version 1.8.0_211
  * Firebase Product: Messaging <-> InstanceId

### [REQUIRED] Step 3: Describe the problem
I try to delete instance id with the following code:
`FirebaseInstanceId.getInstance().deleteInstanceIdAsync(idToDelete).get();`
But I get a erro

[2019-06-06 15:00] feinstein opened #277 "Provide Token Validation Errors list"
Reading the docs [here](https://firebase.google.com/docs/auth/admin/errors) for Firebase Auth Errors, one can assume those error codes for the node.js library would be the same returned in the Firebase Admin Java library as well, but looking into the source code I can't find those strings anywhere.

I am using Firebase Auth in my server to validate REST Endpoint requests, so I need to return prope

[2019-06-06 18:00] hiranya911 commented on #276
I've informed the relevant team about this. In the meantime any additional information you can provide would be helpful (full stacktrace of the error, debug logs etc).

[2019-06-06 18:09] hiranya911 commented on #277
Java SDK only uses following error codes with respect to this functionality:

* ERROR_INVALID_CREDENTIAL (used for both invalid and expired tokens)
* ERROR_RUNTIME_EXCEPTION (if an unexpected error occurs during verification)
* id-token-revoked (token has been explicitly revoked)

The `auth/` prefixed error codes were only ever supported in the Node.js SDK. In general we are working towards decomm

[2019-06-06 18:09] #277 closed

[2019-06-06 18:15] hiranya911 commented on #275
APNs documentation states:

https://developer.apple.com/library/archive/documentation/NetworkingInternet/Conceptual/RemoteNotificationsPG/PayloadKeyReference.html

The SDK does support specifying an empty Aps. Doesn't that work for you:

[code]

[2019-06-06 18:19] feinstein commented on #277
I see, well then please make those error codes comply with the OAuth 2.0 error codes, as described in section 3.1 here:

http://self-issued.info/docs/draft-ietf-oauth-v2-bearer.html

[2019-06-06 18:21] feinstein commented on #277
Also, could you leave this issue open until the new error codes arrive? This way I will be notified when I can update my code with them.

[2019-06-06 19:38] hiranya911 commented on #277
This is a large scale breaking change that will be released as a major version. All developers will have to upgrade and change their code when it's eventually released.

As for the OAuth2 spec, I don't see how that's related to our SDK. Error codes and error handling guidelines for Firebase/GCP products are laid out here: https://cloud.google.com/apis/design/errors. Our new error handling mechanis

[2019-06-06 19:44] feinstein commented on #277
I am just saying that since Firebase Auth deals with Token Authentication/Authorization, it would be nice to have all the error codes that OAuth 2.0 speaks about, which is mostly "token expired, revoked, malformed, or invalid for other reasons". So we can map those errors to a proper 401 Response body. But ultimately I think that only expired, revoked and invalid is enough.

[2019-06-07 08:29] hugoblanc commented on #276
After investigating, I realized that even with the error 500, instance Id seems correctly deleted.
If I call getToken from client after error 500 the new token is different and topics are not present anymore.

`ERROR - com.google.firebase.iid.FirebaseInstanceIdException: Instance ID "fix0PfuDfUQ": Internal server error.`
`ERROR - java.lang.NoSuchMethodError: com.google.common.io.ByteStreams.exhaus

[2019-06-07 16:51] hiranya911 commented on #276
There are 2 different errors in your last comment. The 2nd one (NoSuchMethodError), is due to a guava version conflict. Can you make sure that you have at least guava 20 in your classpath? Until you do that, all calls to `deleteInstanceId()` are going to fail -- even when the backend service responds with a successful response.

https://github.com/firebase/firebase-admin-java/blob/dda8ff2d87b4c080

[2019-06-07 23:23] hugoblanc commented on #276
I tried by forcing guava v20, admin SDK was loading v18.
I don't see `java.lang.NoSuchMethodError` anymore.

But `Instance ID "fix0PfuDfUQ": Internal server error.` is still present

[2019-06-08 18:01] Amosss opened #278 "UNAVAILABLE: HTTP/2 error code: NO_ERRORReceived Goawaysession_timed_out"
* Operating System version: Ubuntu
  * Firebase SDK version: 6.8.1
  * Firebase Product: Firestore

This is the callstack:
java.util.concurrent.ExecutionException: com.google.api.gax.rpc.UnavailableException: io.grpc.StatusRuntimeException: UNAVAILABLE: HTTP/2 error code: NO_ERRORReceived Goawaysession_timed_out	at com.google.common.util.concurrent.AbstractFuture.getDoneValue(AbstractFuture.java:5

[2019-06-11 06:26] christopher-cudennec commented on #275
I'm afraid "aps" must not be empty. See the following exception:
[code]

Cheers,

Christopher

[2019-06-11 12:18] hugoblanc commented on #276
I have deeper investigated on this issue by creating a new spring boot project.
From this new starting point there are no more errors 500.
But I don't think that FirebaseInstanceID is working correctly.

I'm basically doing the same stuff than before on client side :
`FirebaseInstanceId.getInstance().getToken()`

And on server side, I hardcoded instanceId:
`FirebaseInstanceId.getInstance().deleteI

[2019-06-11 22:30] hiranya911 commented on #275
That's an error sent by the FCM backend. Which means it's validated and required at that level too.

@chong-shao what do you think?

[2019-06-14 21:26] hiranya911 commented on #278
Please report at https://github.com/googleapis/google-cloud-java where the Firestore code is being developed. Admin SDK is a thin wrapper around Firestore, and this issue cannot really be addressed in this codebase.

[2019-06-14 21:26] #278 closed

[2019-06-15 03:21] xfthhxk opened #279 "Upgrade google-cloud-firestore dependency"
### Describe your environment

  * Operating System version: Linux 4.15.0-51-generic
  * Firebase SDK version: 6.8.1
  * Library version: ?
  * Firebase Product: database

### Describe the problem
The current version (1.1.0) of the `google-cloud-firestore` dependency has an issue that is described here https://github.com/googleapis/google-cloud-java/issues/3580.  It would be helpful to have the la

[2019-06-17 20:47] NunuM opened #280 "Code clarity on MulticastMessage class"
### Environment
  * Firebase SDK version: 6.8.1
  * Firebase Product: messaging

### Problem

The class com.google.firebase.messaging.MulticastMessage represents the concept of one message for multiple targets. The companion class com.google.firebase.messaging.MulticastMessage.Builder accepts as an argument a java.util.List of targets (addAllTokens method). The data type associated (List) allows r

[2019-06-17 21:16] hiranya911 commented on #280
There's no server-side equivalent of `MulticastMessage`. That object gets broken down into a `List<Message>` in the SDK itself.

Use of `List` in this class is intentional since we want to retain the order of tokens so they can be later correlated with the order of responses in `BatchResponse`. Plus we don't want to be opinionated about whether to allow duplicate tokens or not. There might be obsc

[2019-06-17 21:32] NunuM commented on #280
Thanks for your clear and quick response.

I will take your design advice to ensure uniqueness and iteration order.

Thank you.

[2019-06-17 21:32] #280 closed

[2019-06-17 22:00] hiranya911 commented on #280
You're welcome @NunuM. Just to make it clear, the existing API in `MulticastMessage.Builder` doesn't allow passing a `Collection`. My point was that it's something we can change the existing API into.

[2019-06-18 21:16] NunuM commented on #280
@hiranya911 as you mentioned, I have changed the argument data type of MulticastMessage.Builder#addAllTokens method from `List` to `Collection`. Do you agree with the diff?

Thank you.

[code]

[2019-06-19 17:07] hiranya911 commented on #280
Yes, that seems correct.

[2019-06-24 06:40] christopher-cudennec commented on #275
Any updates? @hiranya911 / @chong-shao

[2019-06-25 19:43] chong-shao commented on #275
ApnsConfig#aps is mandatory according to the doc: https://developer.apple.com/library/archive/documentation/NetworkingInternet/Conceptual/RemoteNotificationsPG/PayloadKeyReference.html

If ApnsConfig#aps is present, it must be non-empty because: 1. the title of notification is required. 2. for hidden messages, the flag content-available=1 in aps is required.

[2019-06-26 06:30] christopher-cudennec commented on #275
You're absolutely right!

What I'm saying is: In my opinion the SDK should be aware of these restrictions and set the altert title accordingly. From the client/user's perspective "it should just work" no matter what the implementation details are. Would you agree?

[2019-06-26 18:32] #279 closed

[2019-06-27 01:42] feinstein opened #283 "FR: Add sign in options"
I am building a system to emulate users in my system, this way I can debug any troubles my users are facing. Also this makes testing easier.

I created a simple Java CLI Application that creates a Custom Token for a giver UID. I would like to be able to then sign-in with that Custom Token, so I can get an ID Token and use that ID Token to simulate my user in all my servers.

The problem is there's

[2019-06-28 20:12] hiranya911 commented on #283
I don't think there are any plans in the short term add user authentication APIs to the admin SDKs. But you can use the REST API directly for this purpose:

https://github.com/firebase/firebase-admin-java/blob/6e507af6fd84efcd7f8e79fc1561d92a0a72bbec/src/test/java/com/google/firebase/auth/FirebaseAuthIT.java#L617-L632

[2019-06-28 20:16] feinstein commented on #283
Yes, that's what I did at the end. Thank you.

[2019-06-28 20:17] hiranya911 commented on #276
I got some info from the backend team regarding this issue.

=== fix0Pfu**** ===
Has been deleted by CLIENT-SDK on 2019/06/07-01:16.
That means that the IID client-SDK send a "Delete" signal directly to the IID endpoint.
This happened most likely when the App-Instance was uninstalled from the device.

=== eKNpakB**** ===
Has been deleted by ADMIN-SDK on 2019/06/11-04:14.

They also confirm that a

[2019-06-28 20:20] hiranya911 commented on #276
I'm going to close this issue since I don't see any action items for this particular codebase. If you're still having issues with this API, please reach out to Firebase support directly and provide information about your project (project ID, specific IID strings etc.)

[2019-06-28 20:20] #276 closed

[2019-06-28 21:02] bojeil-google commented on #283
We document how to do this via the REST API: https://firebase.google.com/docs/reference/rest/auth
As far as I know we don't have plans to provide this via the Admin SDK. You are welcome to file an official [feature request](https://firebase.google.com/support/) for this.

[2019-06-29 20:59] feinstein commented on #283
Ok, I will.

[2019-07-02 05:44] grebenshikov opened #284 "Firebase connection problems from GCP Cloud Run app"
### [REQUIRED] Step 2: Describe your environment

  * Operating System version: GCP Cloud Run (Java 8 runtime). US-Central region.
  * Firebase SDK version: 6.8.1, 6.8.0, 6.7.0
  * Library version: 6.8.1, 6.8.0, 6.7.0
  * Firebase Product: database

### [REQUIRED] Step 3: Describe the problem

I experience intermittent connection problems with Firebase Realtime Database from a Spring Boot App runn

[2019-07-02 17:20] mhp0rtal opened #286 "Misuses of cryptographic APIs"
Hi
The following lines have cryptographic API misuses. <br> File name => src/main/java/com/google/firebase/database/utilities/Utilities.java: Line number => 111: API name => MessageDigest:First parameter (with value "SHA-1") should be any of {SHA-256, SHA-384, SHA-512}<BR> File name => src/main/java/com/google/firebase/database/utilities/Utilities.java: Line number => 113: API name => MessageDiges

[2019-07-02 17:26] dapp opened #287 "FR: Provide a synchronous way to get the Instance ID"
### [REQUIRED] Step 2: Describe your environment

  * Operating System version: Android 9
  * Firebase SDK version: 17.0.0
  * Library version: ?
  * Firebase Product: Core

There is no way to synchronously get the FirebaseInstanceId token.

We use the firebase instance ID as part of our authentication scheme.  When the instance id token changes and the app has not been notified yet (no call to on

[2019-07-02 18:15] hiranya911 commented on #284
If this only happens on Cloud Run, then it's more likely to be a problem with that environment. Have you tried contacting the Cloud Run team with this information?

[2019-07-02 18:17] hiranya911 commented on #286
Can you elaborate what the issue here is? Why is that usage a "misuse"?

[2019-07-02 18:18] hiranya911 commented on #287
Wrong repo. This should be reported for the Android SDK.

[2019-07-02 21:36] grebenshikov commented on #284
I will contact them for sure. Planning to run the same test on App Engine to isolate Cloud Run infrastructure vs. Firebase location.

[2019-07-02 22:46] hiranya911 commented on #284
I have multiple test applications on App Engine that uses this library. And we have a few other users who use this API in App Engine for various production apps. Never seen an issue of the reported nature.

[2019-07-03 01:00] CodingDoug commented on #284
I had problems using the admin SDK (Firestore) using an image built with openjdk:8-jre-alpine, as cribbed from one of the Google-provided examples for Kotlin/ktor/netty.  After I switched to openjdk:8-jre-stretch, it worked.  The alpine build was a bit too slim and lacked some libraries and classes.  Don't know if that's what you're running into, but I'd give it a try.

[2019-07-03 02:31] laatahzan opened #288 "java.lang.NoClassDefFoundError: com.google.firebase.auth.FirebaseAuth$3"
I run the code below to get a token, but the program stops at **FirebaseAuth.getInstance(). createCustomToken()** and an error appears as attached below.

Where is **androidmanifest.xml** located? Thanks.

`    @Override
    protected void onCreate(Bundle savedInstanceState) {
        try {
            super.onCreate(savedInstanceState);
            setContentView(R.layout.activity_main);

[2019-07-03 06:33] hiranya911 commented on #288
Admin SDK cannot be used on Android. It is for server-side use only. Specifically, methods like `createCustomToken()` cannot and should not be used on client devices.

[2019-07-03 06:33] #288 closed

[2019-07-03 06:57] grebenshikov commented on #284
Thanks for the suggestion about different jdk. I tried it, but it did not solve the problem.

Though I think I have nailed the pattern for this problem:

Step 1. Issue seems to be 100% reproducible then I just start new container (for example re-deploy it).

I get the following three error messages in logs after attempts to read anything from Firebase:

2019-07-02 23:41:57.395 PDT2019-07-03 06:41:

[2019-07-03 07:51] christopher-cudennec commented on #275
@hiranya911 : I would suggest that the client library addresses that issue. It should only send requests that match the specification. What do you think?

[2019-07-05 02:44] hiranya911 commented on #284
Thanks for the detailed analysis @grebenshikov. We will try to follow up with the Cloud Run team via internal channels as well.

Can you share your test case (source code) with us? Ideally a simple web app and a Docker file, or even a hosted container that we can inspect and test?

[2019-07-07 13:15] puf commented on #137
It is now possible to [add an Analytics label to messages](https://firebase.google.com/docs/cloud-messaging/understand-delivery#adding_analytics_labels_to_messages). Does that mean this FR can now be implemented?

[2019-07-10 04:21] grebenshikov commented on #284
@hiranya911 - please contact me directly and I would be happy to provide you details or even access to my hosted container to help you debug the problem. So far I can confirm that pattern continue to remain THE SAME over the week. The first Firebase query causes exceptions and several minutes delay before it "self-heals" and works fine till next container restart.

What is interesting - I saw one

[2019-07-10 11:00] hiranya911 commented on #284
Can you share the source code please? Just zip up a sample webapp project that we can build and deploy.

[2019-07-13 20:23] grebenshikov commented on #284
Sure. Here it is - https://www.dropbox.com/s/o6o55p3xeyy8gih/cloudrun-firebase-test.zip?dl=0

Look at "readme.txt" for instructions to configure it for your environment.

I tested it as newly deployed container @Cloud Run. Issue is 100% reproducible.

[2019-07-15 23:50] hiranya911 commented on #284
@grebenshikov I can't reproduce the issue. Just uploaded your project to Cloud Run and made some calls with curl. The longest cold start time I observed was around 18s which is to be expected. But nothing as outrageous as 7 minutes.

[code]

From the above log you can see that the first request took 18.3 seconbds (around 12s was that spent on the Sprint/Tomcat/framework initialization).

[2019-07-15 23:53] hiranya911 commented on #284
FWIW, I do see the error messages you mentioned, but they seem to occur after a period of inactivity -- likely due to Cloud Run terminating the running container instance. For example, roughly 3 minutes after my last request I see:

[code]

[2019-07-16 00:07] hiranya911 commented on #284
I have a feeling your notion of "response time" is based on when the RTDB event listener logs the data read from the database:

[code]

Is that right? In that case please note that RTDB event listeners are asynchronous and run on a separate thread. How Cloud Run handles the execution of such async threads (specifically, how their logs are collected and presented in the console) are completely unde

[2019-07-16 03:16] grebenshikov commented on #284
Hey, thanks for testing my test app and sharing your observations. I think you are directionally correct. The way Cloud Run handles async threads (AND not only the way logs are collected - that one I am not sure if this adds up to the problem), but it for sure "plays" some games with infrastructure resources if no web workers are active... In the end it's designed to handle HTTP requests and contr

[2019-07-16 03:16] #284 closed

[2019-07-19 20:51] hiranya911 commented on #286
In this case our application code requires the use of a SHA1 hash. I believe we use the hash as a way of ordering nodes, and has no security implications.

[2019-07-19 20:51] #286 closed

[2019-07-19 23:17] chong-shao commented on #275
I thought about this more carefully: the story is AdminSDK talks to FCM HTTP v1 API. The API has the platform override feature: If the APNs payload is present in your request, the backend overrides the general notification title and body with the values in APNs payload.

On the other hand, in HTTP v1 API you can leave ApnsConfig empty in the request and just use the general notification setting in

[2019-07-24 14:20] RoyceZheng87 opened #292 "Get public keys connect time out"
I verify ID tokens using the Firebase Admin SDK, but get public keys connect time out
[code]

[2019-07-26 20:50] hiranya911 commented on #292
Most likely due to a network issue at your end, or a temporary issue with Google public key server. Please get back to us if the problem can be reproduced reliably.

[2019-07-26 20:50] #292 closed

[2019-07-29 09:28] pankajsinghal opened #293 "Shaded version of firebase-admin-java sdk jar w/ dependencies relocated"
There is already an issue regarding this - https://github.com/firebase/firebase-admin-java/issues/162

I think it would really be helpful it there was a shaded (packaged with dependencies) version of `firebase-admin-java` SDK & dependencies relocated to some different package to avoid version conflict.

I'm currently facing issues because we have a different version of netty which is getting confl

[2019-08-01 17:40] kirmerzlikin opened #294 "Add missing WebpushFcnOptions entity"
### Describe your environment

  * Operating System version: Windows 10
  * Firebase SDK version: latest
  * Library version: any
  * Firebase Product: messaging

### Describe the problem

[Documentation for Firebase HTTP v1 API](https://firebase.google.com/docs/reference/fcm/rest/v1/projects.messages#webpushconfig) says that `WebpushConfig` can contain `WebpushFcmOptions` representing options for

[2019-08-02 11:57] JagarYousef opened #296 "Cannot resolve symbol FirebaseOptions"
I am using Firebase admin with JavaFx and maven support module.<br>I've added the dependency: <br>
[code]
But still all Firebase classes including FirebaseOptions not resolved.

[2019-08-02 16:35] hiranya911 commented on #296
Almost certainly a problem with your environment or build setup. If you inspect the contents of the jar file you will see the FirebaseOptions class file in there. Try dumping your maven dependency tree, and make sure the SDK is indeed in your classpath. If that doesn't help I'd recommend asking in Stackoverflow with more details about your application.

[2019-08-02 16:35] #296 closed

[2019-08-02 21:05] hiranya911 commented on #293
I think our position on this hasn't changed. Neither Firebase nor GCP currently ship any shaded jar files due to multiple reasons. I don't see this changing in the near future.

[2019-08-02 21:05] #293 closed

[2019-08-06 06:19] christopher-cudennec commented on #275
That sounds great! Could you post a reference to the backend issue?
Thanks for your effort!

[2019-08-06 21:16] kirmerzlikin commented on #294
PR was merged, issue is now resolved

[2019-08-06 21:16] #294 closed

[2019-08-13 17:37] chong-shao commented on #275
Hi @christopher-cudennec , sorry for the late reply. We don't have a reference now. I will update here after the issue has been resolved.

[2019-08-17 19:08] dclements opened #300 "public static FirebaseApp getInstance is marked nullable but can't return null"
### [READ] Step 1: Are you in the right place?

About the code in this repository.

### [REQUIRED] Step 2: Describe your environment

Master. I use `error-prone`, so this comes up whenever I call `FirebaseApp.getInstance`.

### [REQUIRED] Step 3: Describe the problem

[code]

This returns from `public static FirebaseApp getInstance` (which is not annotated the same way):

[code]

So, first, if `in

[2019-08-22 15:47] 6bangs opened #301 "FR: Use PropertyName value as enum value"
This is a request to cherry-pick https://github.com/firebase/firebase-android-sdk/issues/239

The example from that project:

[code]

- When deserializing:
  - "one" will be mapped to ONE
  - "secondOne" will be mapped to SECOND_ONE
- When serializing:
  - ONE will be mapped to "one"
  - SECOND_ONE will be mapped to "secondOne"

The cherry-pick is available here: https://github.com/vi-technologies

[2019-08-22 17:14] hiranya911 commented on #301
Do you want this implemented for Firestore or RTDB? The issue referenced above is concerning Firestore.

[2019-08-22 17:17] 6bangs commented on #301
Firestore; I think the feature already exists for RTDB.

[2019-08-22 17:28] hiranya911 commented on #301
Firestore code is not part of this repo. You should follow up at https://github.com/googleapis/google-cloud-java

[2019-08-22 17:28] #301 closed

[2019-08-22 17:47] 6bangs commented on #301
Hmm... I think I'm probably confused about the project organization. The [docs linked from this project's README](https://firebase.google.com/docs/admin/setup) say:

That's what I'm using it for (and it works). The google-cloud-java project does have similar code (and actually supports serialization/deserialization of enum values by `@PropertyName`), but it appears to be oriented towards usage of

[2019-08-22 17:56] hiranya911 commented on #301
Our Firestore support is entirely provided by the `google-cloud-firestore` library. When a developer calls `FirestoreClient.getFirestore()`, we simply call out to that library.

[2019-08-22 18:15] 6bangs commented on #301
Got it, looks like we were transitively depending on an old version of `google-cloud-firestore` (that didn't support this use case). All cleared up, thanks.

[2019-08-30 18:03] sgammon opened #304 "Firebase RDB transaction returns success, but isn't committed"
### [REQUIRED] Step 2: Describe your environment
  * Operating System version: `macOS 10.14.6` and `Alpine Linux`
  * Firebase SDK version: `6.9.0`
  * Library version: `java`
  * Firebase Product: `database` (auth, database, storage, etc)

### [REQUIRED] Step 3: Describe the problem

Cross-posted with cloud support (case `20498489`). We work against Firebase Realtime Database from the Java (admin

[2019-09-04 05:24] chong-shao commented on #275
Hi @christopher-cudennec , sorry for the wait, now the empty ApnsConfig#aps should be accepted.

[2019-09-04 05:24] #275 closed

[2019-09-04 07:29] christopher-cudennec commented on #275
Great, thanks! :)

[2019-09-04 14:01] mghhrn commented on #270
Hi
I think @sauagarw has suggested a feature. The suggested feature is the ability to send objects inside the data field of the message using Admin SDK and not only bounded by sending strings.
Is it possible to implement this feature? Does any restriction from FCM's backends exist? @chong-shao

[2019-09-04 20:45] mikelehen commented on #304
I believe this issue was resolved via another channel (cloud support case 20498489). If you're still having issues, please re-open with repro code, etc.  Thanks!

[2019-09-04 20:45] #304 closed

[2019-09-04 21:28] sgammon commented on #304
Indeed it was, this one was our fault! Thank you @mikelehen.

[2019-09-05 19:03] knocknarea opened #308 "FR: Surface notification_count to AndroidNotification builder"
Step 2: Describe your environment

  * Operating System version: Server (Mac/Linux)
  * Firebase SDK version: 6.10.0
  * Library version: N/A
  * Firebase Product: cloud messaging (auth, database, storage, etc)

### [REQUIRED] Step 3: Describe the problem

Unable to set the android badge count via the Builder methods for AndroidNotification.

The json spec suggests this is the location to set such

[2019-09-06 18:08] hiranya911 commented on #308
Badge is an APNs-specific property and not supported on Andriod AFAIK.

@chong-shao can you confirm?

[2019-09-06 20:46] knocknarea commented on #308
@hiranya911 it's not the badge property I'm after, it the **notification_count** property of the AndroidNotification Json spec.

Not all of the properties of the spec are surfaced to the AndroidNotification class.

[2019-09-06 22:22] hiranya911 commented on #308
Oh ok. Feel free to send a pull request.

[2019-09-06 22:31] chong-shao commented on #308
Yes **notification_count** https://firebase.google.com/docs/reference/fcm/rest/v1/projects.messages#androidnotification is documented in the HTTP in the API but currently hasn't been added into AdminSDK. Feel free to send a pull request.

[2019-09-06 22:31] #308 closed

[2019-09-09 10:56] knocknarea commented on #308
@hiranya911
Do I fork and then issue a PR because I just created a branch for this change and I cannot push it to initiate the PR

[2019-09-09 23:56] jexom opened #310 "Firestore exception in jar with dependencies"
* Operating System version: Win10 x64 Java 1.8
  * Firebase SDK version: 6.10.0
  * Firebase Product: Firestore

While making a simple web app I've encountered an issue with Firestore that prevents me from using it. While I run the following code from IntelliJ it's works fine as expected, but after building a jar with dependencies through Maven the following exception occurs.

 ### Code:
[code]
##

[2019-09-10 00:48] schmidt-sebastian commented on #310
@jexom Thanks for filing this issue and sorry for your trouble!

The stacktrace refers to an API that seems to have changed recently: https://github.com/grpc/grpc-java/pull/5546

Can you:
- Update all dependencies to the latest version
- Make sure that you do not have any dependency conflicts

If the issue still occurs, please share the output of `mvn dependency:tree`.

[2019-09-10 08:00] ChenChiaHung commented on #310
@schmidt-sebastian @jexom I'm also facing this same problem in my docker container. the following is my output of `mvn dependency: tree` for your reference.
Thanks for looking into this issue. :-)

[INFO] --- maven-dependency-plugin:3.1.1:tree (default-cli) @ testframework-core ---
[INFO] io.github.carousell:testframework-core:jar:test-SNAPSHOT
[INFO] +- io.cucumber:cucumber-java:jar:4.5.4:compile

[2019-09-10 08:51] jexom commented on #310
So the only explicit dependency left in the project is firebase-admin and the problem persists. The exception is only thrown when launching the jar with dependencies. The regular jar with dependencies copied to the lib folder works as expected.
Here's the dependency tree
[code]

[2019-09-10 17:32] schmidt-sebastian commented on #310
I think you version of Google-Gax is too new. Unfortunately, we don't seem to be specifying a dependency version for this library: https://mvnrepository.com/artifact/com.google.cloud/google-cloud-firestore

As a short term work-around, I will ping Hiranya to update the Firebase Admin Java dependency of Firestore to the latest version. We will then also have to fix the GAX dependency of the Firesto

[2019-09-11 07:36] ChenChiaHung commented on #310
@schmidt-sebastian
Thanks for providing the short term workaround on this issue.
It works on our test environment after using a hard dependency on Firestore 1.20.0.
I will keep waiting for the latest version including fixes.
Thank you. :-)

[2019-09-13 23:48] #310 closed

[2019-09-14 15:29] raghav382 commented on #50
Hello all,
I am raghavendra, new user to the maven.
Here are my POI content and trying to on chorme version 76.0. It would be nice to guide me with very granular level.

Code getting executed:

	@BeforeClass
	public void openbrowser1()
	{
		System.out.println("Hello Relax");
		System.setProperty("webdriver.chrome.driver","D:\\JavaAutomation\\Files\\chromedriver.exe");
		driver=new ChromeDriver();

[2019-09-14 15:31] raghav382 commented on #50
Hello all,
I am raghavendra, new user to the maven.
Here are my POI content and trying to on chorme version 76.0. It would be nice to guide me with very granular level.

<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
  <modelVersion>4.0.0</mo

[2019-09-25 09:11] VishalThareja opened #313 "Firebase Admin SDK issue with Window 32 bit"
With Firebase Admin SDK. facing in window 10 32-bit O.S.

<dependency>
<groupId>com.google.firebase</groupId>
<artifactId>firebase-admin</artifactId>
<version>6.8.1</version>
</dependency>

An error which we received:

java.lang.IllegalArgumentException: Failed to load any of the given libraries: [netty_tcnative_windows_x86_32, netty_tcnative_x86_32, netty_tcnative]
        at io.grpc.netty.shaded

[2019-09-25 09:15] hiranya911 commented on #313
Try upgrading `google-cloud-firestore` to the latest. Currently your app is picking up `google-cloud-firestore-0.61.0-beta.jar`. You can declare a direct dependency on 1.22.0 and see if that helps.

[2019-09-25 09:31] VishalThareja commented on #313
Basically I am using Firebase Admin SDK and its version is: com.google.firebase firebase-admin 6.8.1
and also I have upgraded it to latest version 6.10.0, still don't solve the problem.

[2019-09-25 09:35] hiranya911 commented on #313
That's ok. Try adding a direct dependency on latest `google-cloud-firestore` library as mentioned in my previous comment.

[2019-09-25 09:48] VishalThareja commented on #313
Yes, we have tried with adding dependency of

<dependency>
    <groupId>com.google.cloud</groupId>
    <artifactId>google-cloud-firestore</artifactId>
    <version>1.22.0</version>
</dependency>

but these dependencies not having subsequent classes which we were there in Firebase Admin SDK. So, we can access those classes.

[2019-09-25 10:03] hiranya911 commented on #313
You need to declare both `firebase-admin` and `google-cloud-firestore` as dependencies.

Admin SDK doesn't have any Firestore-related code. All Firestore support is provided by the `google-cloud-firestore` library. Admin SDK's `FirestoreClient` class is just a thin wrapper around the classes available in `google-cloud-firestore`.

The latest version of the Admin SDK pulls in v1.9.0 of Firestore. B

[2019-09-25 10:57] VishalThareja commented on #313
Can I connect with you?

[2019-09-25 11:51] hiranya911 commented on #313
If upgrading to the latest Firestore library doesn't resolve the issue, then you should probably file a support issue: https://firebase.google.com/support

Or contact the Firestore SDK team directly via https://github.com/googleapis/google-cloud-java/tree/master/google-cloud-clients/google-cloud-firestore

As I said `firebase-admin` is a very thin wrapper around the Firestore SDK, and there's not

[2019-09-26 13:03] cemo commented on #137
@ToddKerpelman, Is there any update on this?

[2019-10-02 13:44] voxelbusters commented on #137
Looks like it has some limitations. Do you recommend for general logging from Firebase functions?

[2019-10-07 09:51] boluok opened #315 "com/google/api/core/ApiFuture: java.lang.NoClassDefFoundError java.lang.NoClassDefFoundError: com/google/api/core/ApiFuture"
`  FirebaseApp.initializeApp(options)`

Throws this exception when running in an AWS Lambda Function

`com/google/api/core/ApiFuture: java.lang.NoClassDefFoundError
java.lang.NoClassDefFoundError: com/google/api/core/ApiFuture
at utils.FirebaseUtils.<clinit>(FirebaseUtils.kt:29)
at lamdas.CourseManagerLambda.handleRequest(CourseManagerLambda.kt:57)`

[2019-10-07 16:54] hiranya911 commented on #315
Make sure api-commons library is in the classpath.

[2019-10-07 16:54] #315 closed

[2019-10-07 17:19] boluok commented on #315
I already have this in my gradle

But the issue still persists

[2019-10-07 17:35] hiranya911 commented on #315
`ApiFuture` class comes from the `api-commons` library -- not `google-api-client`.

Unless you can provide a minimal repro with just the Admin SDK, you will have to debug this as a classloading issue specific to your environment (AWS Lambda) and your code. I also see a `FirebaseUtils` Kotlin file mentioned in the error message. That seems to be part of your code. All we can say is that by the time

[2019-10-07 17:50] boluok commented on #315
The  `FirebaseUtils` calls this line of code `FirebaseApp.initializeApp(options)` before this issue, it works fine when i run it on my computer but when i deploy it to AWS i get this issue. Does that mean it is environment specific or should i proceed to with the minimal repro

[2019-10-07 18:06] hiranya911 commented on #315
We can't tell why a certain class would fail to load in AWS Lambda. Most common reason is that jar file did not get uploaded with your code. If you think it's an issue with the SDK and can be addressed in this repo, provide us a minimal, independent repro so we can take a look.

[2019-10-07 18:33] Sdwz opened #316 "Firestore conflicting with Cloud Scheduler library"
### Describe your environment

  * Operating System version: AppEngine Java 8 standard
  * Firebase SDK version: 6.10.0
  * Library version: 6.10.0
  * Firebase Product: Firestore

### Describe the problem

#### Steps to reproduce:

I recently had to use Cloud Scheduler to trigger tasks for my AppEngine project.

Adding the dependency to the project :

[code]
(The latest I had to add cause GoogleC

[2019-10-07 19:57] hiranya911 commented on #316
Can you provide a minimal repro? Ideally something we can deploy to App Engine and test.

Also, have you verified whether the code works locally (i.e. outside App Engine)?

[2019-10-07 20:04] Sdwz commented on #316
Thanks for your reply.

Let me takes this as a next step :

1. Just read a couple issue here and a good first idea would be to raise the logging level to understand what's happening in the background
2. As for the dependencies issues, it's similar to https://github.com/firebase/firebase-admin-java/issues/310
3. Will try to replicate locally
4. Going to make a small spring boot app and see if it ha

[2019-10-08 00:19] Sdwz commented on #316
1. Increasing logging level this is all I have

https://gist.github.com/Sdwz/0be97b318be484ac08296b82ce0f1903

[2019-10-08 00:40] Sdwz commented on #316
3. Seems like I got my hands on it. Updating firestore lib didn't fix the issue actually, exception is just swallowed it seems.

Made a small class within my project to test with all the deps I have :

https://gist.github.com/Sdwz/40b670e5316711f2eb0c5d732de98b36

which produced the following :

https://gist.github.com/Sdwz/14a31346c0326722ddb68439db740b17

So seems like the opencensus issue is st

[2019-10-08 01:26] Sdwz commented on #316
Moving on so you guys don't waste your time : Made a new app and added the cloud scheduler library and it seems to be working fine. It's only within mine it's failing. It has to be revolving around spring cloud.

[2019-10-08 01:52] Sdwz commented on #316
Updated to Spring Cloud SR3, issue is fixed !

[2019-10-08 01:52] #316 closed

[2019-10-08 07:36] fahadshakeel1989 opened #317 "connectTimeout not working if network connection is not available."
### [READ] Step 1: Are you in the right place?
Yes
### [REQUIRED] Step 2: Describe your environment
  * Operating System version: Linux
  * Firebase SDK version: 6.8.1
  * Library version: firebase-admin
  * Firebase Product: Push Notification

### [REQUIRED] Step 3: Describe the problem
connectTimeout configured in FirebaseOptions object is not working if network connection is not available. Gett

[2019-10-08 16:58] schmidt-sebastian commented on #316
@Sdwz Thank you for your updates. I am glad to hear that things worked out!

[2019-10-08 17:20] hiranya911 commented on #317
I ran into this recently myself. This is because the connect timeout setting in `FirebaseOptions` does not effect the transport used by `GoogleCredentials` (the very first request made by the SDK is through `GoogleCredentials` to fetch access tokens). And I don't see a straight forward way to set a timeout for `GoogleCredentials` either.

[2019-10-08 18:13] hiranya911 commented on #317
I just filed https://github.com/googleapis/google-auth-library-java/issues/356 regarding this.

I've also learned that `GoogleCredentials` retries requests 10 times with exponential backoff. So in the event of a complete network outage, all the delay you're seeing is caused by these delayed retries.

[2019-10-08 22:15] hiranya911 commented on #75
As of now we don't plan to support serialization of these types in RTDB. But we can revisit this issue if there's more interest.

[2019-10-08 22:15] #75 closed

[2019-10-08 22:16] hiranya911 commented on #86
We currently have no plans to support serialization of these date types. Please use `java.util.Date` in the meantime.

Related to #75

[2019-10-08 22:16] #86 closed

[2019-10-08 22:18] hiranya911 commented on #178
We currently have no plans for further investigating this. Hopefully one of the proposed workarounds did the trick. Please reopen if this continues to be an issue.

[2019-10-08 22:18] #178 closed

[2019-10-08 23:39] schmidt-sebastian commented on #271
That is correct. We will retry transaction internally for you, but if we fail (after 25 attempts) we will report a failure. You may choose to invoke further retries.

Since there are no immediate plans to improve this situation, I will close this issue. Please do let me us know if this issue does end up blocking you.

[2019-10-08 23:39] #271 closed

[2019-10-09 14:55] Lordofcodes commented on #238
@chong-shao  @cemo  @hiranya911 I am facing the same problem. I sent a common message to a topic `All`.
After sending the notification our backend API stops to respond, or takes too much time to respond.

[2019-10-09 18:02] hiranya911 commented on #238
@Lordofcodes please file a feature request at https://firebase.google.com/support

[2019-10-09 18:59] mmilowski commented on #137
@ToddKerpelman  I consulting Firebase analytics with the clients and its common problem :/ I was thinking about solution and maybe create few standard events (or it will be a new type of standard events) which can have permission to connect with server-side. Two cases that I have in my mind are 1. mobile app with subscription model
2. mobile app like a uber where clients don't need to have an open

[2019-10-10 02:06] Lordofcodes commented on #238
@cemo  Can you describe why is this happening. Is it because your server gets a lot of request in very short span of time as all user will open the notification? Or something else?

[2019-10-10 06:17] stari4ek commented on #137
Looks like there're server-side reporting already which is used to report app_store_* events.
They are not exported to BigQuery and do not have any standard properties (user_id, device, ...) comparing to any other events. Here is my SO question about it: https://stackoverflow.com/questions/58300435/app-store-subscription-events-are-not-exported-to-bigquery

[2019-10-23 11:29] kleeb opened #322 "Unable to init FirestoreClient due to AbstractMethodError"
**Describe your environment:**
Operating System version: OS X / Ubuntu
Firebase SDK version: 6.10.0
Library version: 6.10.0
Firebase Product: Firestore

**Describe the problem**
Deps mismatch.

**Steps to reproduce:**
Upgrade from firebase-admin 6.8.0 to 6.10.0 and try to call FirestoreClient.getFirestore

**Relevant Code:**

[code]

This is thrown when trying to create FirestoreClient:

[code]

O

[2019-10-23 11:35] kleeb commented on #322
[code]

[2019-10-23 11:39] kleeb commented on #322
Dep tree:

[code]

[2019-10-23 12:04] kleeb commented on #322
Downgrading gax helps:

[code]

but Firestore connection gets stuck after couple calls and is not responding

[2019-10-23 12:09] kleeb commented on #322
related with https://github.com/GoogleCloudPlatform/java-docs-samples/issues/1377

[2019-10-23 18:08] hiranya911 commented on #322
I see you have declared an explicit dependency on `com.google.cloud:google-cloud-firestore:jar:1.20.0`. Perhaps try upgrading that to the latest (1.28.0)?

[2019-10-23 23:22] AbhishekChugh opened #323 "maven artifact uses 4 month old firestore dependency"
### Describe your environment

  * Operating System version: ubuntu 18.04
  * Firebase SDK version: com.google.firebase:firebase-admin:6.10.0
  * Library version: *What's this?*
  * Firebase Product: firestore

### Describe the problem
The firestore artifact used by the admin SDK is 4 months old (1.9.0) and is missing many updates.
Please update to latest version (1.28.0).

I am specifically inter

[2019-10-23 23:31] AbhishekChugh commented on #323
![download](https://user-images.githubusercontent.com/5623836/67441647-54470080-f61b-11e9-8e9e-68e7d08a3ee1.png)

[2019-10-23 23:34] AbhishekChugh commented on #323
@hiranya911

[2019-10-24 00:01] hiranya911 commented on #323
Feel free to provide a pull request. Otherwise somebody here will eventually bump the dependency version.

But this shouldn't block you from using the latest Firestore version. Just declare a direct dependency on latest google-cloud-firestore. Dependency managers like Maven give high priority to direct dependencies, so the version you specify will be installed.

[2019-10-24 01:37] AbhishekChugh commented on #323
Thanks so much @hiranya911. Didnt know compile dependency version could be overriden.

Btw, in https://github.com/firebase/firebase-admin-java/blob/master/pom.xml,
the version is already updated to 1.21.0 for google-cloud-firestore. Someone just needs to create the new artifact.

[2019-10-24 01:37] #323 closed

[2019-10-25 07:22] kleeb commented on #322
the same happens on 1.28.0

[2019-10-25 10:23] cemo commented on #238
@Lordofcodes I have missed this sorry. Yes we have around 5M active users. In case a bulk send operation it is causing a lot of requests in very short time. In a peak time we have 2-3 times more load for our servers however in case a bulk push message like targeting all of our users load is increasing up to 10 times more.

[2019-10-25 13:43] Legoless commented on #137
Oh, you gotta be joking. There's in-app subscription events happening, which is related directly to client app, but can only be reliably detected on server side. Such as users being charged on monthly basis, trial periods, introductional periods, etc. So there is no way (apart from using a billion other tools) to directly send these events to Firebase? All analytics tools support this...

[2019-10-28 16:27] schmidt-sebastian commented on #322
@kleeb Can you publish your pom.xml so I can try to reproduce?

[2019-10-28 16:37] kleeb commented on #322
[code]

[2019-10-31 04:36] schmidt-sebastian commented on #322
I am not able to reproduce this and can connect to Firestore using your code snippet and your POM file. I only. replaced getProviderKey() with a FileInputStream.

I am however pulling in slightly different dependencies, for example:

			com.google.firebase:firebase-admin:jar:6.8.0:compile
			com.google.cloud:google-cloud-firestore:jar:0.61.0-beta:compile
			com.google.cloud:google-cloud-core-grpc:

[2019-10-31 09:15] pkwiatkowski0 commented on #322
@schmidt-sebastian firebase-admin 6.8 is working properly. This thread is regarding of upgrading firebase-admin from 6.8 -> 6.10. Within @kleeb's POM there is a proper definition of 6.10 not 6.8.
[code]
Please check it for 6.10. On my side there is exactly same problem.

[2019-10-31 16:25] schmidt-sebastian commented on #322
I am also not able to reproduce with firebase admin 6.10, which resolves to the same dependency versions for me as pointed out in the last comment. If you are able to isolate the change to a small project, I can take another look.

[2019-11-04 09:30] pkwiatkowski0 commented on #322
If you are pointing to the 6.10 then why maven is pulling 6.8? Please remove old repository and try import dependancies again.

The crucial method for this case is
`com.google.api.gax.grpc.InstantiatingGrpcChannelProvider.needsCredentials()`
which is not used with firebase admin 6.8

[2019-11-05 18:14] kleeb commented on #322
sounds like something connected with https://issues.streamsets.com/browse/SDC-12567

[2019-11-06 11:44] kleeb commented on #322
Sorry guys. The issue was on our side. It was indeed dependency with other libs problem.
Closing this down.

[2019-11-06 11:44] #322 closed

[2019-11-06 12:55] baakind commented on #137
We also need this.

[2019-11-19 12:24] manjotsidhu commented on #310
I am still facing this issue.. `pom.xml` can be seen from here : https://github.com/manjotsidhu/SmartClassrooms-Hardware/blob/pi/pom.xml

[2019-11-19 12:39] manjotsidhu commented on #310
Just updated to `6.11.0` ... Fixed! Thanks

[2019-11-22 13:01] kopfnick commented on #137
I am a little surprised that this also was not ported over from old analytics - absolutely need this for server side event logging out of things happening in the database into user lifecycles...
For us especially it would also be crucial in order to get some events as conversions into ads...

[2019-11-28 14:41] alishah730 opened #330 "Firebase method missing in Java"
### [READ] Step 1: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ make sure the issue title starts with "FR:".
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase discussion, us

[2019-11-29 14:14] alishah730 commented on #330
its because of firebase SDk
'''
<dependency>
			<groupId>com.google.firebase</groupId>
			<artifactId>firebase-server-sdk</artifactId>
			<version>3.0.3</version>
		</dependency>
'''

and

'''
            <dependency>
		    <groupId>com.google.firebase</groupId>
		    <artifactId>firebase-admin</artifactId>
		    <version>6.11.0</version>
		</dependency>
'''

removed server sdk and its working.

[2019-11-29 14:14] #330 closed

[2019-12-01 20:02] achuinard commented on #323
Need this updated to 1.31.0 to get IN queries.

[2019-12-06 06:59] vkercan opened #332 "Tenants support in Java Admin SDK"
Support for user management based on a Tenant is currently not yet supported in Java Admin SDK, although Google Cloud Identity Platform already supports this (https://cloud.google.com/blog/products/identity-security/multi-tenancy-support-identity-platform-now-generally-available).

Would be helpful to extend this support also in Java Admin SDK.

[2019-12-06 16:28] hiranya911 commented on #332
@micahstairs FYA

[2019-12-06 16:39] micahstairs commented on #332
Thanks for the feature request! Fortunately, I've already begun working on this. We are still in the early stages (working out the design for the API), but once I begin working on the implementation, this issue will track my progress.

[2019-12-18 10:10] kui opened #335 "Documents for Error Code"
* Firebase SDK version: 6.9.0
* Firebase Product: cloud message

Can I check error code descriptions how we should handle it like [admin SDK guide][]?

I expected that firebase-admin-java raises error code strings with "messaging/" prefix like "messaging/registration-token-not-registered". But actually, it raises it without the prefix like "registration-token-not-registered".

I think that firebas

[2019-12-18 21:52] hiranya911 opened #337 "Incorrect timestamp format in AndroidNotification.event_time"
I think the way we format the `event_time` field on `AndroidNotification` is wrong:

https://github.com/firebase/firebase-admin-java/blob/83b7a64c103fbf20f46c04df229000529e9a8d2d/src/main/java/com/google/firebase/messaging/AndroidNotification.java#L458-L462

There seems to be couple of issues with this.

1. We are not specifying the timezone for the `SimpleDateFormat`. Therefore the resulting time

[2019-12-19 01:23] chong-shao commented on #337
I think you are correct on both issues:
1. Yes currently it formats based on the local timezone. Should change to UTC.
2. I think RFC3339 does not specify how nanoseconds should be formatted. But in Java class SimpleDateFormat, 'S' means Milliseconds. So I think I should just format it into 'SSS' and append '000000' after the 'SSS'.

Will add a fix soon.

[2019-12-19 22:07] #337 closed

[2019-12-23 21:53] hiranya911 commented on #335
The prefixed error codes are only really supported in the Node.js SDK. Java SDK currently uses unprefixed error codes.

The error handling support is going through a major overhaul. So far we've implemented this for Python and .NET, while Java is next in our list. This will significantly change how error codes are exposed. In case of Java there will be enum types for error codes which will make it

[2019-12-23 21:54] hiranya911 commented on #313
Closing this, as we don't have mitigation strategy from this repo.

[2019-12-23 21:54] #313 closed

[2020-01-05 16:12] abelardolg opened #341 "ListUsersPage: class not found"
### [READ] Step 1: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ make sure the issue title starts with "FR:".
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase discussion, us

[2020-01-05 20:59] hiranya911 commented on #341
`firebase-auth:19.2.0`

That's the Android SDK. `listUsers()` is part of the Admin SDK (artifact ID `firebase-admin`).

[2020-01-05 20:59] #341 closed

[2020-01-06 10:03] abelardolg commented on #341
Thanks, @hiranya911
I took a look at the documentation but it inside of auth.

Best regards.

[2020-01-06 12:40] voxelbusters commented on #137
Can anyone share what kind of workflow (alternatives) they have to handle this missing feature?

[2020-01-07 06:27] kui commented on #335
Thank you! I will treat these as error codes without the prefix in this version.

[2020-01-07 06:27] #335 closed

[2020-01-08 08:20] shambhand opened #343 "FR:TopicManagementResponse$Error should have toString() method(for logging)"
Add toString() in TopicManagementResponse$Error to print the error response from firebase.

[2020-01-13 06:45] feras-ngss opened #346 "FirebaseOptions Not Found in jar build using gradle"
Describe your environment
Am using Pure Java to Build a library to use inside Spring boot projects.

  * Operating System version: _____(Server Side Application) , deveolpment on Mac OS
  * Firebase SDK version: _____ admin-SDK 6.12.0
  * Library version: _____
  * Firebase Product: _____ (auth, database, storage, etc)

 Describe the problem
the problem is that am built a library that implements F

[2020-01-13 19:47] hiranya911 commented on #346
All we can say is that Firebase classes are not available in your application classpath. It's not clear how you were planning to make them available for your application, so we cannot provide any specific instructions.

Please use StackOverflow for this type of usage questions.

[2020-01-13 19:47] #346 closed

[2020-01-13 21:29] Bonythomasv opened #348 "Message.builder().putAllData() Does not Accept HashMap<String, Object>"
### [READ] Step 1: Are you in the right place?

  * For issues or feature requests related to firebase Messaging the code in this repository__
    file a Github issue.
    * If this is a __feature request__ make sure the issue title starts with "FR:".
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Fireba

[2020-01-13 21:35] Bonythomasv commented on #348
Data Object with HasMap<String,Object> seems to work if you hit the API directly.

![Screen Shot 2020-01-13 at 3 33 27 PM](https://user-images.githubusercontent.com/15947082/72293931-21107e00-361a-11ea-82d3-216082c86cd5.png)

[2020-01-13 22:57] hiranya911 commented on #348
Your screenshots are displaying a call to the legacy FCM API, which is not used in the Java SDK. Java SDK uses the V1 API: https://firebase.google.com/docs/reference/fcm/rest/v1/projects.messages#Message

As per the documentation this API requires values to be strings:

[code]

I don't know in practice if this API accepts non-string data values as well. But either way we can't just change the meth

[2020-01-14 06:31] jinho-actgames commented on #236
I don't understand why this issue is closed? cause we don't have schedule option yet!

[2020-01-14 06:39] jinho-actgames commented on #236
@chong-shao Do we have any progress on this issue ?

[2020-01-14 08:11] feras-ngss commented on #346
I did search Stack Over Flow,
what am building basically Is a library that Maps all the Data and interact with FCM.
for the Clients that using the Api(LIB) am Building a Jar File out of the the project to use it. I used to use this Kind of stuff.
but with FireBaseOptions Case when am Building the Api using gradle and try to access the login in the Clients am Getting that the Class FirebaseOptions

[2020-01-14 15:00] Bonythomasv commented on #348
@hiranya911
I've also tried using the below URL ( new V1 Endpoint) and that seems to work if I hit the API directly. If not a Breaking change, would you be able to provide a Override method which accepts Object, I can try putting together PR if that helps.

WE had been using the Direct API over three years and we were looking to switch to use FCM Admin SDK and this came as a blocker for us.
https:

[2020-01-14 19:56] hiranya911 commented on #346
I'd start by checking if the `com.google.firebase` packages are correctly packaged into your library (if that's how you intended to put those classes in the application classpath). Otherwise make sure the `firebase-admin` jar is in the classpath of the application.

[2020-01-14 19:57] hiranya911 commented on #348
@chong-shao what do you think?

[2020-01-14 20:11] Bonythomasv commented on #348
@hiranya911 my Bad the V1 API only Accepts String:String
But the legacy API still accepts String: Object, Is this something we can bake into Admin SDK for legacy API?

[2020-01-14 20:28] hiranya911 commented on #348
@Bonythomasv we are actually looking into turning down the legacy API altogether. Only our Node.js SDK supports it (this is because the Node.js SDK predates the FCM v1 API). But the FCM team may be open to supporting non-string data values in the v1 API.

[2020-01-15 15:40] Bonythomasv commented on #348
@hiranya911 Can you tag someone from FCM team, or Do you want me to move this issue another repo?

[2020-01-15 17:18] chong-shao commented on #348
HI @Bonythomasv I'm from the FCM team. We are considering adding non-string support but no plans for the timeline yet.

[2020-01-15 18:24] hiranya911 commented on #348
@Bonythomasv since this requires backend changes, I'd recommend you to file a feature request at https://firebase.google.com/support. There's nothing we can do in this repo to address this issue. If the backend ever starts supporting non-string data values, we will definitely expose the functionality in the SDK APIs.

[2020-01-15 18:24] #348 closed

[2020-01-16 05:33] jinho-actgames opened #349 "Add options for scheduled notification as console provide"
My Environment:

Operating System version: Any
Firebase SDK version: Any
Library version: Latest
Firebase Product: firebase cloud messaging

This feature is same as [#236 ](https://github.com/firebase/firebase-admin-java/issues/236#issue-395823402).

But, we don't have schedule options which is provided in console already, I hope scheduled notification option be added to admin sdk soon.

[2020-01-21 05:00] chong-shao commented on #236
@jinho-actgames @cemo thanks for asking. We are still working on this. Will provide an update once we have an expected launch date. :)

[2020-01-21 05:01] chong-shao commented on #349
As posted in https://github.com/firebase/firebase-admin-java/issues/236, we are currently working on this :)

[2020-01-21 06:36] jinho-actgames commented on #236
@chong-shao
Thanks for reply.
Can you provide us any schedule of the option?
It is almost 1 year after first issued.

[2020-01-21 06:37] cemo commented on #236
Would you please reopen issue?

[2020-01-21 06:38] cemo commented on #137
Is there any news on this?

[2020-01-21 06:42] jinho-actgames commented on #236
@cemo
I have reopend this with #349, but it is closed with same message.
I just want to know when we can use the option.

[2020-01-21 06:46] chong-shao commented on #349
Sorry I cannot provide a timeline at this point. I'll post the time as soon as it become available.
I reopened this issue.

[2020-01-21 12:13] rromanchuk commented on #137
Not a solution, but for a pseudo (UDP analytics version) alternative, I
literally send silent push notifications (iOS) packaged with event data
that is pushed back to firebase from the background using client SDK.

If this is a mobile first/product/foreground only philosophy, it can easily
be abused. With the “merger” of GA/Firebase, this should theoretically be
supported now, they would just be e

[2020-01-21 12:18] kopfnick commented on #137
While the idea is nice, background notifications are "unreliable" at best in our (extensive) experience.

Even Apple says so in the docs - "The system treats background notifications as low-priority"
(https://developer.apple.com/documentation/usernotifications/setting_up_a_remote_notification_server/pushing_background_updates_to_your_app)

[2020-01-24 21:46] hiranya911 commented on #343
Sounds reasonable to me. Feel free to submit a PR. Otherwise I'll get to it when I have some free cycles.

[2020-01-27 22:34] hiranya911 opened #354 "Error handling refactor"
We are in the process of implementing a large-scale refactor of our exception types. This is largely a breaking change, and therefore will be released in the next major version (no concrete timeline yet). The benefits of this refactor include:

1. Clearly defined top-level error codes for all exceptions, where error codes follow the specification in https://cloud.google.com/apis/design/errors.
2.

[2020-02-08 17:48] ravindranathakila commented on #234
May I please clarify what it is being used for? `setCredentials`

Why doesn't the SDK just use `setServiceAccountId`

[2020-02-09 01:04] hiranya911 commented on #234
SDK always requires some credentials to authorize remote API calls. Service account ID is only used when signing JWTs using the Cloud IAM API (those API calls also need to be authorized with some credentials).

[2020-02-09 11:32] ravindranathakila commented on #234
Thank you very much for clarifying. It gives a lot of confidence to know it
won't mess with all the users hooked up with Firebase (as in, doesn't play
a role in user session management). It would be unfortunate to later
discover there were two keys linked to a token and one is gone thereby
breaking all token validity.

On Sun, Feb 9, 2020, 9:04 AM Hiranya Jayathilaka <notifications@github.com>
wro

[2020-02-20 12:34] mazu-rok opened #370 "FR: Notification priority"
Hi, I want to set a priority for notification for iOS. But I cannot find how to make it.

[2020-02-20 18:26] hiranya911 commented on #370
Look into the apns-priority header. See APNS docs.

https://developer.apple.com/library/archive/documentation/NetworkingInternet/Conceptual/RemoteNotificationsPG/CommunicatingwithAPNs.html#//apple_ref/doc/uid/TP40008194-CH11-SW1

[2020-02-20 18:26] #370 closed